In [1]:
import threading
import os
import pandas as pd
import numpy as np
import eikon as ek

ek.set_app_key('cec2abe836754fe692a01de15032769539511a71')
import time
from datetime import datetime

from uti import Logger, DataLoader
from Broker import get_tr, get_atr
from Path import DATABASE_PATH

DL = DataLoader()
logger = Logger()
lock = threading.RLock()

NOW_STR = logger.NOW_STR
testing = False

C:\Users\JayYang\Platform\Citi\Path\settings.py C:\Users\JayYang\Platform\Citi\Path\settings.py
Base path C:/Users/JayYang
Platform path C:/Users/JayYang/Platform
Onedrive directory: C:/Users/JayYang/OneDrive - Alpha Sherpa Capital
Daily path C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Daily
Database path C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Database/Citi

In [2]:
from Eikon import Eikon_update_price

In [3]:
ticker_df = DL.loadDB('ticker_to_ISIN_20220525.csv')
ticker_df.head()

17:54:14 C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Database/Citi\Log/20220525/20220525175250.txt created.
17:54:14 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Database/Citi\ticker_to_ISIN_20220525.csv

                ID          ISIN
0  ALSEN FP Equity  FR0012596468
1    DTG SW Equity  DE000DTR0CK8
2    EKI FP Equity  FR0011466069
3    GSK LN Equity  GB0009252882
4    IVA FP Equity  FR0013233012

In [24]:
ticker_df = DL.loadDB('tickers universe to check.csv')
ticker_df = ticker_df.drop_duplicates(['Ticker']).reset_index(drop=True)
ticker_df['ISIN'] = ''

19:13:54 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/tickers universe to check.csv

In [13]:
ticker_df

     Ticker(old)  Ticker Ticker(BBG) Region
0           2432  2432.T     2432 JP     JP
1           2433  2433.T     2433 JP     JP
2           2670  2670.T     2670 JP     JP
3           2768  2768.T     2768 JP     JP
4           3279  3279.T     3279 JP     JP
...          ...     ...         ...    ...
6342        5101  5101.T     5101 JP     JP
6343        4689  4689.T     4689 JP     JP
6344        9474  9474.T     9474 JP     JP
6345        4205  4205.T     4205 JP     JP
6346        4478  4478.T     4478 JP     JP

[6347 rows x 4 columns]

In [6]:
ek.get_data([ticker_df['Ticker'][0]], 'TR.ISIN')[0]['ISIN'][0]

  Instrument          ISIN
0     2432.T  JP3548610009

In [10]:
result = ek.get_data(['testing'], 'TR.ISIN')[0]['ISIN'][0]
result

In [ ]:
'''for i, row in ticker_df.iloc[:10].iterrows():
    ticker = row['Ticker']
    isin_code = ek.get_data([ticker], 'TR.ISIN')[0]['ISIN'][0]
    if not pd.isna(isin_code):
        ticker_df.loc[i, 'ISIN'] = isin_code'''

In [34]:
isin_code = ek.get_data(list(ticker_df['Ticker']), 'TR.ISIN')
isin_code[0]['ISIN']

0       JP3548610009
1       JP3766550002
2       JP3152740001
3       JP3663900003
4       JP3047490002
            ...
5710    JP3931600005
5711    JP3955000009
5712    JP3955800002
5713    JP3430400006
5714    JP3826520003
Name: ISIN, Length: 5715, dtype: string

In [38]:
ticker_df['ISIN'] = isin_code[0]['ISIN']

In [39]:
DL.toDB(ticker_df, 'ticker universe with ISIN.csv')

In [53]:
result = ek.get_data(['JP3826520003'], ['TR.GICSSector', 'TR.GICSIndustry', 'TR.GICSIndustryGroup', 'TR.GICSSubIndustry',
                                  'CF_EXCHANGE', 'TR.ExchangeCountry', 'TR.UltimateParentCountryHQ'])[0]
result

,Instrument,RIC,CF_NAME,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CURRENCY,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,JP3826520003,4478.T,<NA>,Information Technology,Software,Software & Services,Application Software,<NA>,<NA>,Japan,Japan

In [54]:
result = ek.get_data(['4478.T'], ['CF_NAME', 'CURRENCY'])[0]
result

,Instrument,RIC,CF_NAME,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CURRENCY,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,4478.T,4478.T,FREEE/d,Information Technology,Software,Software & Services,Application Software,JPY,<NA>,Japan,Japan

In [8]:
ticker_df = DL.loadDB('ticker universe with ISIN.csv')

16:57:58 C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/Log/20220427/20220427152757.txt created.
16:57:58 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/ticker universe with ISIN.csv

In [9]:
bbg_df = DL.loadDB('isin_ticker_dict.csv')

17:02:16 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/isin_ticker_dict.csv

In [12]:
bbg_df = bbg_df.rename(columns={'ID':'ISIN', 'ID_SECURITY_DES()': 'Ticker(BBG)'})
bbg_df_dict = bbg_df.set_index('ISIN').to_dict()['Ticker(BBG)']

{'SA0007879097': 'SAMBA AB Equity',
 'SA15DHKGHBH4': 'TADAWULG AB Equity',
 'SA0007879154': 'SCERCO AB Equity',
 'SA15CGS10H12': 'ACWA AB Equity',
 'AU0000157067': '29M AU Equity',
 'SA1510P1UMH1': 'SULAIMAN AB Equity',
 'SA000A0MWH44': 'BUDGET AB Equity',
 'DE000TRAT0N7': '8TRA GR Equity',
 'IT0001233417': 'A2A IM Equity',
 'ES0109427734': 'A3M SM Equity',
 'DE000A2DAM03': 'AAG GR Equity',
 'ID1000066004': 'AALI IJ Equity',
 'AU000000ABC7': 'ABC AU Equity',
 'AU000000ABP9': 'ABP AU Equity',
 'PHY0486V1154': 'AC PM Equity',
 'CA0089118776': 'AC CN Equity',
 'NO0010890304': 'ACC NO Equity',
 'ID1000125503': 'ACES IJ Equity',
 'ES0132105018': 'ACX SM Equity',
 'INE647O01011': 'ABFRL IN Equity',
 'AT000ADDIKO0': 'ADKO AV Equity',
 'AEA006101017': 'ADNOCDIS UH Equity',
 'ID1000111305': 'ADRO IJ Equity',
 'NL0000303709': 'AG SW Equity',
 'BRAERIACNOR4': 'AERI3 BZ Equity',
 'CL0002694637': 'AESANDES CI Equity',
 'AU000000AFG9': 'AFG AU Equity',
 'RU0009062285': 'AFLT RM Equity',
 'BE0974264930': '0Q99 LO Equity',
 'AU000000AGL7': 'AGL AU Equity',
 'GB00B1XZS820': 'ANA SW Equity',
 'AT000AGRANA3': 'AGR AV Equity',
 'NZAIAE0002S6': 'AIA NZ Equity',
 'SG1V35936920': 'AIT SP Equity',
 'NZAIRE0001S2': 'AIR NZ Equity',
 'MYL5099OO006': 'AIABF US Equity',
 'FR0000031122': 'AFR GR Equity',
 'AU0000193666': 'AKE AU Equity',
 'NO0010345853': 'AKRBP NO Equity',
 'NO0010716582': 'AKSO NO Equity',
 'ID1000106701': 'AKRA IJ Equity',
 'DE000A2JNWZ9': 'ASL GR Equity',
 'BH0006000044': 'ALBH BI Equity',
 'AU0000088338': 'ALD AU Equity',
 'FR0013258662': 'ALD FP Equity',
 'MXP000511016': 'ALFAA MM Equity',
 'AU0000027484': 'ALG AU Equity',
 'SE0007158910': 'ALIG SS Equity',
 'GB00BNTJ3546': 'ALLFG NA Equity',
 'MYL2488OO004': 'ABMB MK Equity',
 'ES0157097017': 'ALM SM Equity',
 'MX01AL0C0004': 'ALPEKA MM Equity',
 'BRALPKACNOR9': 'ALPK3 BZ Equity',
 'PLALIOR00045': 'ALR PW Equity',
 'AU000000ALU8': 'ALU AU Equity',
 'DE0008404005': 'ALV GR Equity',
 'AU0000013559': 'ALX AU Equity',
 'AU000000AMA8': 'AMA AU Equity',
 'INE885A01032': 'AMRJ IN Equity',
 'TH0617A10Z08': 'AMATA TB Equity',
 'AU000000AMC4': 'AMC AU Equity',
 'NL0000888691': 'ADG GR Equity',
 'AU000000AMP6': 'AMP AU Equity',
 'ZAE000013181': 'AMS SJ Equity',
 'AU000000ANN9': 'ANN AU Equity',
 'FR0014005AL0': 'ANTIN FP Equity',
 'ID1000106602': 'ANTM IJ Equity',
 'BE0003851681': 'AED BB Equity',
 'TH0765010Z08': 'AOT TB Equity',
 'TH0308010Y08': 'AP TB Equity',
 'AU000000APA1': 'APA AU Equity',
 'LU0569974404': 'APAM NA Equity',
 'AU000000API4': 'API AU Equity',
 'INE438A01022': 'APTY IN Equity',
 'ZAE000066692': 'APN SJ Equity',
 'ES0105022000': 'APPS SM Equity',
 'AU000000APT1': 'APT AU Equity',
 'AU000000APX3': 'APX AU Equity',
 'FR0014003U94': 'ARAMI FP Equity',
 'ID1000161003': 'ARCI IJ Equity',
 'ZAE000054045': 'EB9 GS Equity',
 'IS0000028157': 'ARION IR Equity',
 'DE0005408116': 'ARL GR Equity',
 'ID1000136708': 'ARTO IJ Equity',
 'GB00BDGTXM47': 'ARW LN Equity',
 'CH0043238366': 'ARYN SW Equity',
 'GB00BDFXHW57': 'ASAI LN Equity',
 'AU000000ASB3': 'ASB AU Equity',
 'GB00BYM8GJ06': 'ASCL LN Equity',
 'ID1000122807': 'ASII IJ Equity',
 'INE208A01029': 'AL IN Equity',
 'INE021A01026': 'APNT IN Equity',
 'ID1000108400': 'ASRI IJ Equity',
 'NL0011872643': 'ASRNL NA Equity',
 'AU000000AST5': 'AST AU Equity',
 'AU000000ASX7': 'ASX AU Equity',
 'LU1673108939': 'AT1 GR Equity',
 'NL0011333752': 'ATC NA Equity',
 'INE949L01017': 'AUBANK IN Equity',
 'BMG0670A1099': 'AUTO NO Equity',
 'SE0012454072': 'AZA SS Equity',
 'INE216P01012': 'AAVAS IN Equity',
 'INE192R01011': 'DMART IN Equity',
 'ZAE000049433': 'AVI SJ Equity',
 'AU000000AX19': 'AX1 AU Equity',
 'FR0000120628': 'CS FP Equity',
 'MYL6888OO001': 'AXIATA MK Equity',
 'AU000000AYS5': 'AYS AU Equity',
 'AU000000AZJ1': 'AZJ AU Equity',
 'NL00150006Z9': 'AZRN NA Equity',
 'TH4403010002': 'BA TB Equity',
 'CH0102484968': 'BAER SW Equity',
 'INE917I01010': 'BJAUT IN Equity',
 'INE263A01024': 'BHE IN Equity',
 'GB00BF8J3Z99': 'BAKK LN Equity',
 'CH0012410517': 'BALN SW Equity',
 'MYL4162OO003': 'ROTH MK Equity',
 'DK0015998017': 'BV3 GR Equity',
 'AT0000BAWAG2': 'BG AV Equity',
 'MX41BB000000': 'BBAJIOO MM Equity',
 'ARP125991090': 'BBAR AR Equity',
 'TH0001010014': 'BBL/FTHB XV Equity',
 'AU000000BBN2': 'BBN AU Equity',
 'ES0113211835': 'BBVA SM Equity',
 'PTBCP0AM0015': 'BPCGF US Equity',
 'GB0000811801': 'BDEV LN Equity',
 'ID1000094204': 'BDMN IJ Equity',
 'BMG1466R1732': 'BORR NO Equity',
 'PLBUDMX00013': 'BDX PW Equity',
 'TH0592010Z06': 'BEC TB Equity',
 'MYL5248OO009': 'BAUTO MK Equity',
 'CLP1663V1009': 'BESALCO CI Equity',
 'ID1000122609': 'BEST IJ Equity',
 'NL0011872650': 'BFIT NA Equity',
 'INE465A01025': 'BHFC IN Equity',
 'GB00BF4HYT85': 'BGEO LN Equity',
 'INE121J01017': 'INDUSTOW IN Equity',
 'COB07PA00086': 'PFBCOLO CB Equity',
 'GB00BD8DR117': 'BIFF LN Equity',
 'SE0000862997': 'BLRDF US Equity',
 'MXP495211262': 'BIMBOA MM Equity',
 'AU000000BIN7': 'BIN AU Equity',
 'ID1000115702': 'BJBR IJ Equity',
 'TH0002010Z06': 'BJC TB Equity',
 'INE918I01018': 'BJFIN IN Equity',
 'GB00BLJNXL82': 'BKG LN Equity',
 'DE000A2GSU42': 'BKHT GR Equity',
 'ES0113307062': 'BKIA SM Equity',
 'CZ0008019106': 'KOMB CP Equity',
 'ES0113679I37': 'BKT SM Equity',
 'AU000000BKW4': 'BKW AU Equity',
 'BRBLAUACNOR8': 'BLAU3 BZ Equity',
 'AU000000BLD2': 'BLD AU Equity',
 'INE787D01026': 'BIL IN Equity',
 'AU000000BLX0': 'BLX AU Equity',
 'ARBANS010010': 'BMA AR Equity',
 'BRBMGBACNPR0': 'BMGB4 BZ Equity',
 'ID1000161201': 'BMHS IJ Equity',
 'MYL1818OO003': 'BURSA MK Equity',
 'PLBGZ0000010': 'BNPPPL PW Equity',
 'BRBOASACNOR6': 'BOAS3 BZ Equity',
 'INE028A01039': 'BOB IN Equity',
 'INE323A01026': 'BOS IN Equity',
 'GB00B3FLWH99': 'BOY LN Equity',
 'BRBPANACNPR1': 'BPAN4 BZ Equity',
 'BE0974268972': 'BPOST BB Equity',
 'AU000000BPT9': 'BPT AU Equity',
 'GB00BND88V85': 'BPT LN Equity',
 'BRVBBRACNOR1': 'VBBR3 BZ Equity',
 'AU000000BRG2': 'BRG AU Equity',
 'INE216A01030': 'BRIT IN Equity',
 'BRBRKMACNPA4': 'BRKM5 BZ Equity',
 'BRBRPRACNOR9': 'BRPR3 BZ Equity',
 'ID1000085707': 'BRPT IJ Equity',
 'CLP1506A1070': 'BSAN CI Equity',
 'ID1000110802': 'BSDE IJ Equity',
 'ID1000142805': 'BTPS IJ Equity',
 'MYL5210OO009': 'BAB MK Equity',
 'AU000000BUB7': 'BUB AU Equity',
 'ID1000162001': 'BUKA IJ Equity',
 'ID1000133705': 'BULL IJ Equity',
 'GB0001859296': 'VTY LN Equity',
 'ZAE000117321': 'BVT SJ Equity',
 'AU000000BWP3': 'BWP AU Equity',
 'AU000000BWX7': 'BWX AU Equity',
 'GB0000904986': 'BWY LN Equity',
 'IT0001347308': 'BZZUF US Equity',
 'ES0140609019': 'CABK SM Equity',
 'SG1P32918333': 'CCT SP Equity',
 'US13124Q1067': 'CALT US Equity',
 'CLP256251073': 'CAP CI Equity',
 'GB00B62G9D36': 'CAPC LN Equity',
 'CL0000001314': 'CMPC CI Equity',
 'FR0010828137': 'CARM FP Equity',
 'PLINTCS00010': 'ICRSF US Equity',
 'INE290S01011': 'CARTRADE IN Equity',
 'BRCBAVACNOR5': 'CBAV3 BZ Equity',
 'DE000CBK1001': 'CBK GR Equity',
 'RU000A0JUG31': 'CBOM RM Equity',
 'GB00BV9FP302': 'COUD GR Equity',
 'PLCCC0000016': 'CCC PW Equity',
 'GB00BDCPN049': 'CCEP US Equity',
 'AU000000CCL2': 'CCL AU Equity',
 'GB0031215220': 'CCL LN Equity',
 'AU0000031767': 'CCX AU Equity',
 'SG1T66931158': 'CDHSF US Equity',
 'BRCEABACNOR1': 'CEAB3 BZ Equity',
 'PHY1234G1032': 'CEB PM Equity',
 'DE0007257503': 'CEC GR Equity',
 'NZCENE0001S6': 'CEN NZ Equity',
 'CL0000000100': 'CENCOSUD CI Equity',
 'CL0002539816': 'CENCOSHO CI Equity',
 'TH0176B10Z00': 'CENTEL TB Equity',
 'INE486A01021': 'CESC IN Equity',
 'JE00B5TT1872': '7CT GR Equity',
 'CZ0005112300': 'CEZ CP Equity',
 'AU000000CGF5': 'CGF AU Equity',
 'AU000000CHC0': 'CHC AU Equity',
 'MX01CH170002': 'CHDRAUIB MM Equity',
 'INE121A01024': 'CIFC IN Equity',
 'AU000000CIM7': 'CIM AU Equity',
 'MYL1023OO000': 'CIMB MK Equity',
 'ZAE000117792': 'CLH SJ Equity',
 'ZAE000134854': 'CLS SJ Equity',
 'GB00BKX9C181': 'CLSN LN Equity',
 'AU000000CLW0': 'CLW AU Equity',
 'GB00B14SKR37': 'CMCMEUR EO Equity',
 'SG1N31909426': 'CD SP Equity',
 'FR0000120685': 'KN FP Equity',
 'GB00BN0SMB92': 'CNE LN Equity',
 'BRSBFGACNOR1': 'SBFG3 BZ Equity',
 'PHY1757W1054': 'CNVRG PM Equity',
 'GB00B4YZN328': 'COA LN Equity',
 'INE591G01017': 'COFORGE IN Equity',
 'AU0000030678': 'COL AU Equity',
 'INE259A01022': 'CLGT IN Equity',
 'CLP7847L1080': 'COPEC CI Equity',
 'TH0737010Y08': '1254045D US Equity',
 'ID1000117708': 'CPIN IJ Equity',
 'AU000000CPU5': 'CPU AU Equity',
 'INE120A01034': 'CU IN Equity',
 'IT0005136681': 'CRES IM Equity',
 'IE0001827041': 'CRH XL Equity',
 'SGXC37098255': 'CERT SP Equity',
 'CH0012138530': 'CSGN SW Equity',
 'AU000000CSR5': 'CSR AU Equity',
 'AU000000CTD3': 'CTD AU Equity',
 'MYL5301OO006': 'CTOS MK Equity',
 'ID1000115306': 'CTRA IJ Equity',
 'PTCTT0AM0001': 'CTT PL Equity',
 'FI4000369947': 'CTY1S FH Equity',
 'GB00B4Y7R145': 'CURY LN Equity',
 'US22282E1029': 'CVA US Equity',
 'BRCVCBACNOR1': 'CVCB3 BZ Equity',
 'CA15135U1093': 'CVE CN Equity',
 'GB00BD6GN030': 'VMUK LN Equity',
 'BRCYREACNOR7': 'CYRE3 BZ Equity',
 'INE016A01026': 'DABUR IN Equity',
 'BMG2624N1535': 'DFI XO Equity',
 'INE669E01016': 'IDEA IN Equity',
 'DE0005810055': 'DB1 GR Equity',
 'AU0000120628': 'DBI AU Equity',
 'DE0005140008': 'DBK GR Equity',
 'IE0002424939': 'DCC LN Equity',
 'ZAE000227831': 'DCP SJ Equity',
 'TH0528010Z00': 'DELTA TB Equity',
 'MYL7277OO006': 'DLG MK Equity',
 'TH5097010000': 'DIF TB Equity',
 'BRDIRRACNOR0': 'DIRR3 BZ Equity',
 'INE271C01023': 'DLFU IN Equity',
 'ID1000134109': 'DMAS IJ Equity',
 'GB00BJQZC279': 'DMGT LN Equity',
 'NO0003921009': 'DNO NO Equity',
 'PLDINPL00011': 'DNP PW Equity',
 'TREDOTO00013': 'DOAS TI Equity',
 'CA05577W2004': 'DOO CN Equity',
 'IT0001044996': 'DOV IM Equity',
 'US26054LJL80': 'EI242929 Corp',
 'GB0001826634': 'DPLM LN Equity',
 'AEDFXA0M6V00': 'DPW DU Equity',
 'MYL1619OO005': 'DRB SP Equity',
 'DE0005545503': '1U1 GR Equity',
 'US2530311081': 'DRNA US Equity',
 'GB00B1VNSX38': 'DRXGBP XC Equity',
 'IL0006912120': 'DSCT IT Equity',
 'RU000A0JSQ90': 'DSKY RM Equity',
 'INE836F01026': 'DITV IN Equity',
 'TH0554010Z06': 'DTAC TB Equity',
 'BRDXCOACNOR8': 'DXCO3 BZ Equity',
 'DE000DTR0CK8': 'DTG GR Equity',
 'COB51PA00076': 'PFDAVVND CB Equity',
 'DE000A0HN5C6': 'DWNI GR Equity',
 'AED001501017': 'DXBE UH Equity',
 'AU000000DXS1': 'DXS AU Equity',
 'KE0000000216': 'EABL KN Equity',
 'NZEBOE0001S6': 'EBO NZ Equity',
 'CL0001583070': 'ECL CI Equity',
 'INE532F01054': 'EDEL IN Equity',
 'CH0022268228': 'EFGN SW Equity',
 'EGS305I1C011': 'EFID EY Equity',
 'EE3100137985': 'EGR1T ET Equity',
 'AU000000EHL7': 'EHL AU Equity',
 'INE066A01021': 'EIM IN Equity',
 'TREEGYO00017': 'EKGYO TI Equity',
 'ES0105075008': 'EKT SM Equity',
 'BE0003822393': 'ELI BB Equity',
 'NO0010816093': 'ELK NO Equity',
 'AEE001501015': 'EMAARMLS UH Equity',
 'INE548C01032': 'HMN IN Equity',
 'PLENEA000013': 'ENA PW Equity',
 'INE913H01037': 'ENDU IN Equity',
 'TREENSA00014': 'ENJSA TI Equity',
 'US29355E2081': 'ENPL LI Equity',
 'CLP371151059': 'ENTEL CI Equity',
 'NL0006294274': 'ENX FP Equity',
 'AU000000EOS8': 'EOS AU Equity',
 'FR0000121147': 'EO FP Equity',
 'NO0010735343': 'EPR NO Equity',
 'GB00BYWWHR75': 'EQN LN Equity',
 'IT0001157020': 'ERG IM Equity',
 'INE406M01024': 'ERIS IN Equity',
 'AT0000652011': 'EBO GR Equity',
 'SG1T70931228': 'EREIT SP Equity',
 'AEE000401019': 'ETISALAT UH Equity',
 'US29760G1031': 'ETLN LI Equity',
 'FR0012789949': 'EUCAR FP Equity',
 'PLEURCH00011': 'EUR PW Equity',
 'BREVENACNOR8': 'EVEN3 BZ Equity',
 'AU000000EVN4': 'EVN AU Equity',
 'AU000000EVT1': 'EVT AU Equity',
 'DE0005664809': 'EVT GR Equity',
 'ID1000102502': 'EXCL IJ Equity',
 'INE302A01020': 'EXID IN Equity',
 'FR0014005DA7': 'EXN FP Equity',
 'ZAE000084992': 'LCQ GR Equity',
 'BREZTCACNOR0': 'EZTC3 BZ Equity',
 'SG2F08984575': 'FEHT SP Equity',
 'CLP3880F1085': 'FALAB CI Equity',
 'PHY7510J1668': 'FB PM Equity',
 'NZFBUE0001S0': 'FRCEF US Equity',
 'MXFEFC0C0003': 'FCFE18 MM Equity',
 'NL00150001Q9': 'STLA US Equity',
 'AU0000054322': 'FCL AU Equity',
 'GB00BBT32N39': 'FDEV LN Equity',
 'INE171A01029': 'FB IN Equity',
 'MXCFFI0U0002': 'FIBRAMQ MM Equity',
 'MXCFFI170008': 'FIBRAPL MM Equity',
 'US33835G2057': 'FIXP RM Equity',
 'BRFLRYACNOR5': 'FLRY3 BZ Equity',
 'ES0137650018': 'FDR SM Equity',
 'US33938J1060': 'FLXN US Equity',
 'AU0000192346': 'NOU AU Equity',
 'GB00BYYW3C20': 'FORT LN Equity',
 'NZFAPE0001S2': 'FPH AU Equity',
 'SG1CI9000006': 'FLT SP Equity',
 'NZFREE0001S0': 'FW7 GR Equity',
 'GB00B2QPKJ12': 'FRESUSD E1 Equity',
 'SG1W35938974': '5F1 GR Equity',
 'GB00BDSFG982': 'FTI US Equity',
 'DE000FTG1111': 'FTK GR Equity',
 'MXCFFU000001': 'FUNO11 MM Equity',
 'EGS745L1C014': 'FWRY EY Equity',
 'GB00B1XH2C03': 'FXPO LN Equity',
 'COT29PA00058': 'PFAVAL CB Equity',
 'GB00BQS10J50': 'GAMA LN Equity',
 'MYL5398OO002': 'GAM MK Equity',
 'IT0000062072': 'G IM Equity',
 'INE852F01015': 'GDPL IN Equity',
 'RU0007661625': 'GAZP RM Equity',
 'BE0003797140': 'GBL XS Equity',
 'SG1I55882803': 'GE SP Equity',
 'US91085A2033': 'GEMC RM Equity',
 'VGG379591065': 'ZVW GR Equity',
 'DK0010272202': 'GMAB DC Equity',
 'MYL2291OO002': 'GENP MK Equity',
 'MX01GE0E0004': 'GENTERA* MM Equity',
 'FR0013181864': 'CGG FP Equity',
 'BRGETTCDAM17': 'GETT11 BZ Equity',
 'MXP370641013': 'GFINBURO MM Equity',
 'GB00B01FLG62': 'GFSL IX Equity',
 'IE00B00MZ448': 'GN5USD XW Equity',
 'ARP495251018': 'GGAL AR Equity',
 'INE844O01030': 'GUJGA IN Equity',
 'ID1000068604': 'GGRM IJ Equity',
 'CA3759161035': 'GIL CN Equity',
 'NO0010582521': 'GJF NO Equity',
 'IE0000669501': 'GLB1 XL Equity',
 'INE068V01023': 'GLAND IN Equity',
 'PHY272571498': 'GLO PM Equity',
 'BE0003818359': 'GLPG1USD E1 Equity',
 'MXP370841019': 'GMEXICOB MM Equity',
 'AU000000GMG2': 'GMG AU Equity',
 'INE776C01039': 'GMRI IN Equity',
 'NZCPTE0001S9': 'GMT NZ Equity',
 'AU000000GNC9': 'GNC AU Equity',
 'BRGNDIACNOR2': 'GNDI3 BZ Equity',
 'NZGNEE0001S7': 'GNE NZ Equity',
 'MYL7022OO006': 'GTB MK Equity',
 'INE102D01028': 'GCPL IN Equity',
 'GB0003753778': 'GOG LN Equity',
 'GB00BF5H9P87': 'GPE LN Equity',
 'GB00BD2ZT390': 'GPH LN Equity',
 'PLGPW0000017': 'GPW PW Equity',
 'INE047A01021': 'GRASIM IN Equity',
 'GB00B04V1276': 'GRI LN Equity',
 'ZAE000179420': 'GRT SJ Equity',
 'MXP4948K1056': 'GRUMAB MM Equity',
 'GB0009252882': 'GSK LN Equity',
 'PHY290451046': 'GTCAP PM Equity',
 'AU000000GWA4': 'GWA AU Equity',
 'DE000A14KEB5': 'H24 GR Equity',
 'DE000HAG0005': 'HAG GR Equity',
 'INE038A01020': 'HNDL IN Equity',
 'TH0324B10Z01': 'HANA TB Equity',
 'GB0004161021': 'HAS LN Equity',
 'BRHBSAACNOR0': 'HBSA3 BZ Equity',
 'INE127D01025': 'HDFCAMC IN Equity',
 'ID1000143100': 'HEAL IJ Equity',
 'CH0466642201': 'HELN SW Equity',
 'SE0015671995': 'HEM SS Equity',
 'INE093A01033': 'HEXW IN Equity',
 'DE000A161408': 'HFG GR Equity',
 'BRHGTXACNOR9': 'HGTX3 BZ Equity',
 'DE000HLAG475': 'HLAG GR Equity',
 'MYL5819OO007': 'HLBK MK Equity',
 'INE030A01027': 'HUVR IN Equity',
 'TH0661010007': 'HMPDF US Equity',
 'ID1000074008': 'HMSP IJ Equity',
 'DE0008402215': 'HNR1 GR Equity',
 'SE0006887063': 'HOFI SS Equity',
 'IT0001250932': 'HER IM Equity',
 'GB00B1VZ0M25': 'DMB GR Equity',
 'INE158A01026': 'HMCL IN Equity',
 'ID1000116601': 'HRUM IJ Equity',
 'CA4480551031': 'HSE CN Equity',
 'GB00BYRJH519': 'HSTG LN Equity',
 'GB0004478896': 'HTG LN Equity',
 'MYL5168OO009': 'HART MK Equity',
 'AU000000HUB4': 'HUB AU Equity',
 'AU000000HGL2': 'HGL AU Equity',
 'KW0EQ0601694': 'HUMANSFT KK Equity',
 'AU000000HUO7': 'HUO AU Equity',
 'DK0061412855': 'HUSCO DC Equity',
 'GB0005576813': 'HWDN LN Equity',
 'RU000A0JPKH7': 'HYDR RM Equity',
 'GB00BKP36R26': 'HYVE LN Equity',
 'INE267A01025': 'HZ IN Equity',
 'LU0914713705': 'INTEQ US Equity',
 'AU000000IAG3': 'IAG AU Equity',
 'ID1000116700': 'ICBP IJ Equity',
 'INE763G01038': 'ISEC IN Equity',
 'IL0002810146': 'ICL IT Equity',
 'GB00BYT1DJ19': 'ICP LN Equity',
 'PHY411571011': 'ICT PM Equity',
 'MX01IE060002': 'IENOVA* MM Equity',
 'SG1AF5000000': 'IFAST SP Equity',
 'AU000000IFL2': 'IFL AU Equity',
 'AU000000IGO4': 'IGO AU Equity',
 'BRIGTAACNOR5': 'IGTA3 BZ Equity',
 'BRIGTICDAM16': 'IGTI11 BZ Equity',
 'DE000A2AADD2': 'IGY GR Equity',
 'GB00B1YW4409': 'III LN Equity',
 'MYL3336OO004': 'IJM MK Equity',
 'IE00BWB8X525': 'IL0A ID Equity',
 'FR0004035913': 'ILD FP Equity',
 'ZAE000083648': 'IMP SJ Equity',
 'MYQ0166OO007': 'INRI MK Equity',
 'ID1000109309': 'INCO IJ Equity',
 'ID1000110901': 'INDY IJ Equity',
 'FR0000125346': 'ING FP Equity',
 'PLBSK0000017': 'ING PW Equity',
 'BRINTBACNOR9': 'INTB3 BZ Equity',
 'ID1000061302': 'INTP IJ Equity',
 'GB0006834344': 'ITU SJ Equity',
 'SE0015811963': 'INVEB SS Equity',
 'MYL1961OO001': 'IOI MK Equity',
 'US4528332053': 'IHLDY US Equity',
 'GB0009619924': 'IQEGBP XX Equity',
 'BRIRBRACNOR4': 'IRBR3 BZ Equity',
 'ID1000097405': 'ISAT IJ Equity',
 'CL0002262351': 'ITAUCORP CI Equity',
 'INE154A01025': 'ITC IN Equity',
 'ID1000108509': 'ITMG IJ Equity',
 'AU000000IVC8': 'IVC AU Equity',
 'CA46579R1047': 'IVN CN Equity',
 'BRJALLACNOR0': 'JALL3 BZ Equity',
 'TH6247010007': 'JASIF TB Equity',
 'SG1B51001017': 'JCNC SP Equity',
 'PHY4466S1007': 'JFC PM Equity',
 'AU000000JHX1': 'JHX AU Equity',
 'INE823G01014': 'JKCE IN Equity',
 'INE749A01030': 'JSP IN Equity',
 'ID1000126907': 'JPFA IJ Equity',
 'INE019A01038': 'JSTL IN Equity',
 'PLJSW0000015': 'JSW PW Equity',
 'INE121E01018': 'JSW IN Equity',
 'INE797F01020': 'JUBI IN Equity',
 'EGS30901C010': 'JUFO EY Equity',
 'DE0006219934': 'JUN3 GR Equity',
 'GB00B53P2009': 'JUP LN Equity',
 'INE599M01018': 'JUST IN Equity',
 'DK0010307958': 'JYSK DC Equity',
 'INE303R01014': 'KALYANKJ IN Equity',
 'MYL5247OO001': 'KAREX MK Equity',
 'GB00B0HZPV38': 'KZMYF US Equity',
 'TH0016010017': 'KBANKTHB X1 Equity',
 'DE000KBX1006': 'KBX GR Equity',
 'DE000KC01000': 'KCO GR Equity',
 'BRKEPLACNOR1': 'KEPL3 BZ Equity',
 'MXP606941179': 'KIMBERA MM Equity',
 'ZAE000085346': 'KUI GR Equity',
 'ID1000125107': 'KLBF IJ Equity',
 'MYL5235SS008': 'KLCCSS MK Equity',
 'MYL2445OO004': 'KLK MK Equity',
 'FR0004007813': 'KFMNF US Equity',
 'NZKPGE0001S9': 'KPG NZ Equity',
 'SG1U68934629': 'KEP SP Equity',
 'MYL7153OO009': 'KRI MK Equity',
 'PLKRK0000010': 'KRU PW Equity',
 'TH0689010Z00': 'KTC TB Equity',
 'PLKETY000011': 'KTY PW Equity',
 'GB00BBQ38507': 'KWS LN Equity',
 'FR0000130213': 'MMB FP Equity',
 'MX01LA040003': 'LALAB MM Equity',
 'BRLAMEACNPR6': 'LAME4 BZ Equity',
 'INE947Q01028': 'LAURUS IN Equity',
 'BRLCAMACNOR3': 'LCAM3 BZ Equity',
 'SGXC61949712': 'LREIT SP Equity',
 'AU0000121634': 'LFG AU Equity',
 'AU0000140477': 'LGL AU Equity',
 'MA0000012320': 'LHM MC Equity',
 'ID1000131808': 'LINK IJ Equity',
 'BRLINXACNOR0': 'LINX3 BZ Equity',
 'RU0009024277': 'LKOH RM Equity',
 'AU000000LLC3': 'LLC AU Equity',
 'GB00B4WFW713': 'LSP EO Equity',
 'AU000000LNK2': 'LNK AU Equity',
 'US52634T2006': 'LNTA RM Equity',
 'BRLOGGACNOR7': 'LOGG3 BZ Equity',
 'SE0014504817': 'LOOMIS SS Equity',
 'MYL5284OO004': 'TTNP MK Equity',
 'AU000000LOV7': 'LOV AU Equity',
 'TH3226010009': 'LPF TB Equity',
 'ID1000108905': 'LPKR IJ Equity',
 'TH0456010Z04': 'LPN TB Equity',
 'ID1000113301': 'LPPF IJ Equity',
 'PLLPP0000011': 'LPP PW Equity',
 'GB00B0SWJX34': 'LSEG LN Equity',
 'US50218G2066': 'LSRGUAH EO Equity',
 'INE010V01017': 'LTTS IN Equity',
 'CL0000000423': 'LTM CI Equity',
 'US51817R1068': 'LFL GR Equity',
 'IL0006046119': 'LUMI IT Equity',
 'SE0000825820': 'LUNE SS Equity',
 'AU000000LVT6': 'LVT AU Equity',
 'BRLVTCACNOR4': 'LVTC3 BZ Equity',
 'MYL5014OO005': 'MAHB MK Equity',
 'INE101A01026': 'MM IN Equity',
 'US5603172082': 'VKCO LI Equity',
 'TH0429010Z01': 'MAKRO TB Equity',
 'MYL5264OO006': 'MLK MK Equity',
 'SG1CI1000004': 'MUST SP Equity',
 'ID1000099807': 'PMDKF US Equity',
 'IS0000000388': 'MAREL IR Equity',
 'ES0184696104': 'MAS SM Equity',
 'TREMAVI00037': 'MAVI TI Equity',
 'MYL1155OO000': 'MAY MK Equity',
 'DE0007100000': 'MBG GR Equity',
 'PLBRE0000012': 'MBK PW Equity',
 'NZMRPE0001S2': 'MCY NZ Equity',
 'IT0000062957': 'MB IM Equity',
 'BRMDIAACNOR7': 'MDIA3 BZ Equity',

In [18]:
sum(ticker_df['ISIN'].replace(bbg_df_dict).isna())

230

In [23]:
ticker_df.loc[ticker_df['Ticker(BBG)'].isna(), 'Ticker(BBG)'] = ticker_df.loc[ticker_df['Ticker(BBG)'].isna(), 'ISIN'].replace(bbg_df_dict)

In [26]:
ticker_df[ticker_df['Ticker(BBG)'].isna()]

     Ticker(old)     Ticker Ticker(BBG) Region ISIN
40     000418.SZ  000418.SZ   000418 CH     CH  NaN
356      0958.HK    0958.HK      958 HK     HK  NaN
1224   688235.SS  688235.SS   688235 CH     CH  NaN
1225   688339.SS  688339.SS   688339 CH    NaN  NaN
1229   688686.SS  688686.SS   688686 CH     CH  NaN
...          ...        ...         ...    ...  ...
5557         WPG      WPG.K      WPG US     US  NaN
5563         WPX      WPX.K      WPX US     US  NaN
5587         XEC        XEC      XEC US     US  NaN
5628        ZAYO     ZAYO.K     ZAYO US     US  NaN
5630        ZEAL       ZEAL     ZEAL US    NaN  NaN

[230 rows x 5 columns]

In [28]:
DL.toDB(ticker_df, 'ticker universe with ISIN.csv')

In [41]:
ticker_df_valid = ticker_df[~ticker_df['ISIN'].isna()].reset_index(drop=True)
ticker_df_invalid = ticker_df[ticker_df['ISIN'].isna()].reset_index(drop=True)

In [42]:
RIC = ek.get_data(list(ticker_df_valid['ISIN']), 'TR.RIC')[0]

In [44]:
ticker_df_valid['RIC'] = RIC['RIC']

In [46]:
ticker_df_valid[ticker_df_valid['RIC'] != ticker_df_valid['Ticker']]

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC
42,0005.HK,0005.HK,5 HK,HK,GB0005405286,HSBA.L
273,0486.HK,0486.HK,486 HK,HK,RU000A1025V3,RUAL.MM
275,0494.HK,0494.HK,494 HK,HK,BMG5485F1692,0494.HK^E20
378,1090.SE,1090.SE,SAMBA AB Equity,NaN,SA0007879097,1090.SE^D21
393,1169.HK,1169.HK,1169 HK,HK,BMG423131256,HRELF.PK^A21
...,...,...,...,...,...,...
5424,ZVIA,ZVIA.K,ZVIA US,CN,US98955K1043,ZVIA.N
5425,ZWS,ZWS,ZWS US,US,US98983L1089,ZWS.N
5426,ZY,ZY.O,ZY US,US,US98985X1000,ZY.OQ
5427,ZYDU.BO,ZYDU.BO,ZYDUSLIF IN Equity,IN,INE010B01027,ZYDU.NS
5428,TRUE,TRUE.O,TRUE US,US,US89785L1070,TRUE.OQ

In [55]:
sectors = ek.get_data(list(ticker_df_valid['ISIN']), 
                      ['TR.GICSSector', 'TR.GICSIndustry', 'TR.GICSIndustryGroup', 'TR.GICSSubIndustry',
                      'CF_EXCHANGE', 'TR.ExchangeCountry', 'TR.UltimateParentCountryHQ'])[0]

In [59]:
ticker_df_valid = pd.concat([ticker_df_valid, 
                               sectors[['GICS Sector Name', 'GICS Industry Name', 'GICS Industry Group Name', 'GICS Sub-Industry Name',
                                        'CF_EXCHANGE', 'Country of Exchange', 'Country of Headquarters']]], axis=1)

In [60]:
ticker_df_valid

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,2432,2432.T,2432 JP,JP,JP3548610009,2432.T,Communication Services,Entertainment,Media & Entertainment,Interactive Home Entertainment,<NA>,Japan,Japan
1,2433,2433.T,2433 JP,JP,JP3766550002,2433.T,Communication Services,Media,Media & Entertainment,Advertising,<NA>,Japan,Japan
2,2670,2670.T,2670 JP,JP,JP3152740001,2670.T,Consumer Discretionary,Specialty Retail,Retailing,Apparel Retail,<NA>,Japan,Japan
3,2768,2768.T,2768 JP,JP,JP3663900003,2768.T,Industrials,Trading Companies & Distributors,Capital Goods,Trading Companies & Distributors,<NA>,Japan,Japan
4,3279,3279.T,3279 JP,JP,JP3047490002,3279.T,Real Estate,Equity Real Estate Investment Trusts (REITs),Real Estate,Diversified REITs,<NA>,Japan,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5480,2267,2267.T,2267 JP,JP,JP3931600005,2267.T,Consumer Staples,Food Products,"Food, Beverage & Tobacco",Packaged Foods & Meats,<NA>,Japan,Japan
5481,6841,6841.T,6841 JP,JP,JP3955000009,6841.T,Information Technology,"Electronic Equipment, Instruments & Components",Technology Hardware & Equipment,Electronic Equipment & Instruments,<NA>,Japan,Japan
5482,5101,5101.T,5101 JP,JP,JP3955800002,5101.T,Consumer Discretionary,Auto Components,Automobiles & Components,Tires & Rubber,<NA>,Japan,Japan
5483,9474,9474.T,9474 JP,JP,JP3430400006,9474.T,Communication Services,Media,Media & Entertainment,Publishing,<NA>,Japan,Japan
5484,4478,4478.T,4478 JP,JP,JP3826520003,4478.T,Information Technology,Software,Software & Services,Application Software,<NA>,Japan,Japan

In [61]:
DL.toDB(ticker_df_valid, 'ticker_df_valid.csv')
DL.toDB(ticker_df_invalid, 'ticker_df_invalid.csv')

In [66]:
ticker_from_sunny = DL.loadDB('Datasets/ticker_unique.csv')

19:31:38 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/Datasets/ticker_unique.csv

In [70]:
ticker_from_sunny=ticker_from_sunny.drop_duplicates(['1'])

In [71]:
DL.toDB(ticker_from_sunny, 'ticker_unique.csv')

In [72]:
ticker_from_sunny = DL.loadDB('ticker_to_ISIN_1.csv')

00:41:04 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/ticker_to_ISIN_1.csv

In [73]:
ticker_from_sunny = ticker_from_sunny[~ticker_from_sunny['ISIN'].isna()]

In [77]:
ticker_from_sunny_dict = ticker_from_sunny.set_index('ISIN').to_dict()['ID']

In [81]:
ticker_df_valid.loc[ticker_df_valid['ISIN'].isin(ticker_from_sunny['ISIN']), 'Ticker(BBG)'] = ticker_df_valid[ticker_df_valid['ISIN'].isin(ticker_from_sunny['ISIN'])]['ISIN'].replace(ticker_from_sunny_dict)

In [82]:
ticker_df_valid.loc[ticker_df_valid['ISIN'].isin(ticker_from_sunny['ISIN']), 'Ticker(BBG)']

1       2433 JP Equity
2       2670 JP Equity
6       3402 JP Equity
8       4004 JP Equity
9       4005 JP Equity
             ...
5461    4516 JP Equity
5462    4021 JP Equity
5465    4716 JP Equity
5469    4565 JP Equity
5484    4478 JP Equity
Name: Ticker(BBG), Length: 2995, dtype: object

In [83]:
ticker_df_valid

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,2432,2432.T,2432 JP,JP,JP3548610009,2432.T,Communication Services,Entertainment,Media & Entertainment,Interactive Home Entertainment,<NA>,Japan,Japan
1,2433,2433.T,2433 JP Equity,JP,JP3766550002,2433.T,Communication Services,Media,Media & Entertainment,Advertising,<NA>,Japan,Japan
2,2670,2670.T,2670 JP Equity,JP,JP3152740001,2670.T,Consumer Discretionary,Specialty Retail,Retailing,Apparel Retail,<NA>,Japan,Japan
3,2768,2768.T,2768 JP,JP,JP3663900003,2768.T,Industrials,Trading Companies & Distributors,Capital Goods,Trading Companies & Distributors,<NA>,Japan,Japan
4,3279,3279.T,3279 JP,JP,JP3047490002,3279.T,Real Estate,Equity Real Estate Investment Trusts (REITs),Real Estate,Diversified REITs,<NA>,Japan,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5480,2267,2267.T,2267 JP,JP,JP3931600005,2267.T,Consumer Staples,Food Products,"Food, Beverage & Tobacco",Packaged Foods & Meats,<NA>,Japan,Japan
5481,6841,6841.T,6841 JP,JP,JP3955000009,6841.T,Information Technology,"Electronic Equipment, Instruments & Components",Technology Hardware & Equipment,Electronic Equipment & Instruments,<NA>,Japan,Japan
5482,5101,5101.T,5101 JP,JP,JP3955800002,5101.T,Consumer Discretionary,Auto Components,Automobiles & Components,Tires & Rubber,<NA>,Japan,Japan
5483,9474,9474.T,9474 JP,JP,JP3430400006,9474.T,Communication Services,Media,Media & Entertainment,Publishing,<NA>,Japan,Japan
5484,4478,4478.T,4478 JP Equity,JP,JP3826520003,4478.T,Information Technology,Software,Software & Services,Application Software,<NA>,Japan,Japan

In [84]:
ticker_from_sunny_tbu = ticker_from_sunny[~ticker_from_sunny['ISIN'].isin(ticker_df_valid['ISIN'])]

In [89]:
ticker_from_sunny_tbu = ticker_from_sunny_tbu.drop(['Partial Errors'], axis=1)
ticker_from_sunny_tbu = ticker_from_sunny_tbu.rename(columns={'ID': 'Ticker(BBG)'})

           Ticker(BBG)          ISIN
0       2020 NO Equity  BMG9156K1018
2       ACAD SS Equity  SE0007897079
3      ACAST SS Equity  SE0015960935
4     ACROUD SS Equity  SE0001863291
5      ANODB SS Equity  SE0000472268
...                ...           ...
5178     AND CN Equity  CA0342231077
5179     AKU CN Equity  CA01021F1099
5180    AD-U CN Equity  CAC010971017
5181   ACO/X CN Equity  CA0467894006
5182    ABCT CN Equity  CA00076T1057

[2213 rows x 2 columns]

In [90]:
ticker_from_sunny_tbu = ticker_from_sunny_tbu.reset_index(drop=True)

In [91]:
sectors2 = ek.get_data(list(ticker_from_sunny_tbu['ISIN']), 
                      ['TR.GICSSector', 'TR.GICSIndustry', 'TR.GICSIndustryGroup', 'TR.GICSSubIndustry',
                      'CF_EXCHANGE', 'TR.ExchangeCountry', 'TR.UltimateParentCountryHQ'])[0]

In [92]:
ticker_from_sunny_tbu = pd.concat([ticker_from_sunny_tbu, 
                                   sectors2[['GICS Sector Name', 'GICS Industry Name', 'GICS Industry Group Name', 'GICS Sub-Industry Name',
                                            'CF_EXCHANGE', 'Country of Exchange', 'Country of Headquarters']]], axis=1)

In [93]:
ticker_from_sunny_tbu

,Ticker(BBG),ISIN,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,2020 NO Equity,BMG9156K1018,Industrials,Marine,Transportation,Marine,<NA>,Norway,Bermuda
1,ACAD SS Equity,SE0007897079,Consumer Discretionary,Diversified Consumer Services,Consumer Services,Education Services,<NA>,Sweden,Sweden
2,ACAST SS Equity,SE0015960935,Communication Services,Interactive Media & Services,Media & Entertainment,Interactive Media & Services,<NA>,Sweden,Sweden
3,ACROUD SS Equity,SE0001863291,Consumer Discretionary,"Hotels, Restaurants & Leisure",Consumer Services,Casinos & Gaming,<NA>,Sweden,Sweden
4,ANODB SS Equity,SE0000472268,Information Technology,IT Services,Software & Services,IT Consulting & Other Services,<NA>,Sweden,Sweden
...,...,...,...,...,...,...,...,...,...
2208,AND CN Equity,CA0342231077,Health Care,Health Care Providers & Services,Health Care Equipment & Services,Health Care Services,<NA>,Canada,Canada
2209,AKU CN Equity,CA01021F1099,Health Care,Health Care Providers & Services,Health Care Equipment & Services,Health Care Services,<NA>,United States of America,United States
2210,AD-U CN Equity,CAC010971017,Financials,Capital Markets,Diversified Financials,Asset Management & Custody Banks,<NA>,Canada,Canada
2211,ACO/X CN Equity,CA0467894006,Utilities,Multi-Utilities,Utilities,Multi-Utilities,<NA>,Canada,Canada
2212,ABCT CN Equity,CA00076T1057,Consumer Discretionary,Auto Components,Automobiles & Components,Auto Parts & Equipment,<NA>,Canada,Canada

In [94]:
RIC = ek.get_data(list(ticker_from_sunny_tbu['ISIN']), 'TR.RIC')[0]
ticker_from_sunny_tbu['RIC'] = RIC['RIC']

In [100]:
ticker_from_sunny_tbu['Ticker(old)'] = ticker_from_sunny_tbu['RIC']
ticker_from_sunny_tbu['Ticker'] = ticker_from_sunny_tbu['RIC']
ticker_from_sunny_tbu['Region'] = ''
ticker_from_sunny_dict = ticker_from_sunny.set_index('ISIN').to_dict()['ID']
ticker_from_sunny_tbu['Ticker(BBG)'] = ticker_from_sunny_tbu['ISIN'].replace(ticker_from_sunny_dict)

In [101]:
ticker_from_sunny_tbu['Region'] = ticker_from_sunny_tbu['Ticker(BBG)'].str.split(' ', 1)

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,20202.OL,20202.OL,20202.OL,,BMG9156K1018,20202.OL,Industrials,Marine,Transportation,Marine,<NA>,Norway,Bermuda
1,ACADE.ST,ACADE.ST,ACADE.ST,,SE0007897079,ACADE.ST,Consumer Discretionary,Diversified Consumer Services,Consumer Services,Education Services,<NA>,Sweden,Sweden
2,ACAST.ST,ACAST.ST,ACAST.ST,,SE0015960935,ACAST.ST,Communication Services,Interactive Media & Services,Media & Entertainment,Interactive Media & Services,<NA>,Sweden,Sweden
3,ACROUD.ST,ACROUD.ST,ACROUD.ST,,SE0001863291,ACROUD.ST,Consumer Discretionary,"Hotels, Restaurants & Leisure",Consumer Services,Casinos & Gaming,<NA>,Sweden,Sweden
4,ANODb.ST,ANODb.ST,ANODb.ST,,SE0000472268,ANODb.ST,Information Technology,IT Services,Software & Services,IT Consulting & Other Services,<NA>,Sweden,Sweden
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2208,AND.TO,AND.TO,AND.TO,,CA0342231077,AND.TO,Health Care,Health Care Providers & Services,Health Care Equipment & Services,Health Care Services,<NA>,Canada,Canada
2209,AKU.OQ,AKU.OQ,AKU.OQ,,CA01021F1099,AKU.OQ,Health Care,Health Care Providers & Services,Health Care Equipment & Services,Health Care Services,<NA>,United States of America,United States
2210,AD_u.TO,AD_u.TO,AD_u.TO,,CAC010971017,AD_u.TO,Financials,Capital Markets,Diversified Financials,Asset Management & Custody Banks,<NA>,Canada,Canada
2211,ACOx.TO,ACOx.TO,ACOx.TO,,CA0467894006,ACOx.TO,Utilities,Multi-Utilities,Utilities,Multi-Utilities,<NA>,Canada,Canada
2212,ABCT.TO,ABCT.TO,ABCT.TO,,CA00076T1057,ABCT.TO,Consumer Discretionary,Auto Components,Automobiles & Components,Auto Parts & Equipment,<NA>,Canada,Canada

In [116]:
ticker_from_sunny_tbu['Region'] = ticker_from_sunny_tbu['Ticker(BBG)'].str.split(' ', 0).apply(lambda x: x[1])

In [117]:
ticker_from_sunny_tbu[ticker_df_valid.columns]

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,20202.OL,20202.OL,2020 NO Equity,NO,BMG9156K1018,20202.OL,Industrials,Marine,Transportation,Marine,<NA>,Norway,Bermuda
1,ACADE.ST,ACADE.ST,ACAD SS Equity,SS,SE0007897079,ACADE.ST,Consumer Discretionary,Diversified Consumer Services,Consumer Services,Education Services,<NA>,Sweden,Sweden
2,ACAST.ST,ACAST.ST,ACAST SS Equity,SS,SE0015960935,ACAST.ST,Communication Services,Interactive Media & Services,Media & Entertainment,Interactive Media & Services,<NA>,Sweden,Sweden
3,ACROUD.ST,ACROUD.ST,ACROUD SS Equity,SS,SE0001863291,ACROUD.ST,Consumer Discretionary,"Hotels, Restaurants & Leisure",Consumer Services,Casinos & Gaming,<NA>,Sweden,Sweden
4,ANODb.ST,ANODb.ST,ANODB SS Equity,SS,SE0000472268,ANODb.ST,Information Technology,IT Services,Software & Services,IT Consulting & Other Services,<NA>,Sweden,Sweden
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2208,AND.TO,AND.TO,AND CN Equity,CN,CA0342231077,AND.TO,Health Care,Health Care Providers & Services,Health Care Equipment & Services,Health Care Services,<NA>,Canada,Canada
2209,AKU.OQ,AKU.OQ,AKU CN Equity,CN,CA01021F1099,AKU.OQ,Health Care,Health Care Providers & Services,Health Care Equipment & Services,Health Care Services,<NA>,United States of America,United States
2210,AD_u.TO,AD_u.TO,AD-U CN Equity,CN,CAC010971017,AD_u.TO,Financials,Capital Markets,Diversified Financials,Asset Management & Custody Banks,<NA>,Canada,Canada
2211,ACOx.TO,ACOx.TO,ACO/X CN Equity,CN,CA0467894006,ACOx.TO,Utilities,Multi-Utilities,Utilities,Multi-Utilities,<NA>,Canada,Canada
2212,ABCT.TO,ABCT.TO,ABCT CN Equity,CN,CA00076T1057,ABCT.TO,Consumer Discretionary,Auto Components,Automobiles & Components,Auto Parts & Equipment,<NA>,Canada,Canada

In [118]:
ticker_df_valid = pd.concat([ticker_df_valid, ticker_from_sunny_tbu[ticker_df_valid.columns]], axis=0)

In [120]:
DL.toDB(ticker_df_valid, 'ticker_df_final.csv')

In [121]:
mizuho_tickers = DL.loadDB('Datasets/Mizuho tickers.csv')

10:56:35 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/Datasets/Mizuho tickers.csv

In [171]:
mizuho_tickers_df = mizuho_tickers.drop_duplicates(['Ticker(BBG)'])
mizuho_tickers_df = mizuho_tickers_df.drop(['0'], axis=1)

In [172]:
mizuho_tickers_df = mizuho_tickers_df.reset_index(drop=True)

In [175]:
mizuho_tickers_dict = sectors3.set_index('Instrument').to_dict()['ISIN']
mizuho_tickers_df['ISIN'] = ''
mizuho_tickers_df['ISIN'] = mizuho_tickers_df['Ticker'].replace(mizuho_tickers_dict)
mizuho_tickers_df = mizuho_tickers_df[~mizuho_tickers_df['ISIN'].isin(ticker_df_valid['ISIN'])].reset_index(drop=True)
mizuho_tickers_df = mizuho_tickers_df[mizuho_tickers_df['ISIN']!= ''].reset_index(drop=True)
mizuho_tickers_df

        Ticker(BBG)  Ticker Ticker(old)          ISIN
0    8977 JP Equity  8977.T      8977.T  JP3046320002
1    3397 JP Equity  3397.T      3397.T  JP3636650008
2    7718 JP Equity  7718.T      7718.T  JP3399000003
3    5463 JP Equity  5463.T      5463.T  JP3871200006
4    6622 JP Equity  6622.T      6622.T  JP3497800007
..              ...     ...         ...           ...
209  3227 JP Equity  3227.T      3227.T  JP3046450007
210  6866 JP Equity  6866.T      6866.T  JP3783200003
211  9793 JP Equity  9793.T      9793.T  JP3485600005
212  6804 JP Equity  6804.T      6804.T  JP3845800006
213  3487 JP Equity  3487.T      3487.T  JP3048680007

[214 rows x 4 columns]

In [174]:
sectors3 = ek.get_data(list(mizuho_tickers_df['Ticker']), ['TR.ISIN'])[0]
sectors3 = sectors3[~sectors3.isna()]
sectors3[~sectors3['ISIN'].isin(ticker_df_valid['ISIN'])]

    Instrument          ISIN
0       8977.T  JP3046320002
1       3397.T  JP3636650008
2       7718.T  JP3399000003
3       5463.T  JP3871200006
4       6622.T  JP3497800007
..         ...           ...
209     3227.T  JP3046450007
210     6866.T  JP3783200003
211     9793.T  JP3485600005
212     6804.T  JP3845800006
213     3487.T  JP3048680007

[214 rows x 2 columns]

In [178]:
sectors4 = ek.get_data(list(mizuho_tickers_df['ISIN']), 
                      ['TR.GICSSector', 'TR.GICSIndustry', 'TR.GICSIndustryGroup', 'TR.GICSSubIndustry',
                      'CF_EXCHANGE', 'TR.ExchangeCountry', 'TR.UltimateParentCountryHQ'])[0]

mizuho_tickers_df = pd.concat([mizuho_tickers_df, 
                               sectors4[['GICS Sector Name', 'GICS Industry Name', 'GICS Industry Group Name', 'GICS Sub-Industry Name',
                                         'CF_EXCHANGE', 'Country of Exchange', 'Country of Headquarters']]], axis=1)

In [189]:
mizuho_tickers_df['RIC'] = ''
mizuho_tickers_df['Region'] = ''
mizuho_tickers_df['Region'] = mizuho_tickers_df['Ticker(BBG)'].str.split(' ', 0).apply(lambda x: x[1])

RIC = ek.get_data(list(mizuho_tickers_df['ISIN']), 'TR.RIC')[0]
mizuho_tickers_df['RIC'] = RIC['RIC']

In [185]:
DL.toDB(mizuho_tickers_df, 'Datasets/Mizuho_tickers_df.csv')

In [193]:
ticker_df_valid = pd.concat([ticker_df_valid, mizuho_tickers_df[ticker_df_valid.columns]], axis=0)

In [194]:
DL.toDB(ticker_df_valid, 'Datasets/ticker_df_valid.csv')

In [200]:
ticker_df_valid = DL.loadDB('ticker_df_valid.csv')

12:09:58 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/ticker_df_valid.csv

In [197]:
ticker_df_invalid = ticker_df_valid[ticker_df_valid['Ticker'].isna()]
ticker_df_invalid

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
7872,NaN,NaN,CORE SS Equity,SS,SE0002257402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7873,NaN,NaN,GWI1 GY Equity,GY,DE0003304101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7874,NaN,NaN,VET SW Equity,SW,CH0006227612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7875,NaN,NaN,NOFI NO Equity,NO,NO0010387004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7876,NaN,NaN,FCAU US Equity,US,NL0010877643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7877,NaN,NaN,METSO FH Equity,FH,FI0009007835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7878,NaN,NaN,APY US Equity,US,US03755L1044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7879,NaN,NaN,DISCA US Equity,US,US25470F1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7880,NaN,NaN,SNH US Equity,US,US81721M1099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7881,NaN,NaN,MYL US Equity,US,NL0011031208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7882,NaN,NaN,HFC US Equity,US,US4361061082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7883,NaN,NaN,RXN US Equity,US,US76169B1026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7884,NaN,NaN,UTX US Equity,US,US9130171096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7885,NaN,NaN,SERV US Equity,US,US81761R1095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7886,NaN,NaN,LB US Equity,US,US5017971046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7887,NaN,NaN,FCAU US Equity,US,NL0010877643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7888,NaN,NaN,2448 TT Equity,TT,TW0002448008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7889,NaN,NaN,SVMK US Equity,US,US78489X1037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7890,NaN,NaN,ORE AU Equity,AU,AU000000ORE0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7891,NaN,NaN,MNLO US Equity,US,US5868581027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7892,NaN,NaN,ERI US Equity,US,US28470R1023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7893,NaN,NaN,WTR US Equity,US,US03836W1036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7894,NaN,NaN,CTX AU Equity,AU,AU000000CTX1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7895,NaN,NaN,SSW US Equity,US,MHY756381098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7896,NaN,NaN,TORC US Equity,US,US76133L1035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7897,NaN,NaN,CREE US Equity,US,US2254471012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7898,NaN,NaN,FEYE US Equity,US,US31816Q1013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7899,NaN,NaN,XON US Equity,US,US46122T1025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7900,NaN,NaN,NHM SJ Equity,SJ,ZAE000030912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7901,NaN,NaN,CBS US Equity,US,US1248572026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7902,NaN,NaN,4555 JP Equity,JP,JP3323050009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7903,NaN,NaN,VEADA AU Equity,AU,AU0000100729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7904,NaN,NaN,CTRP US Equity,US,US22943F1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7905,NaN,NaN,SUNDC AU Equity,AU,AU0000054876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7906,NaN,NaN,Z1P AU Equity,AU,AU000000Z1P6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7907,NaN,NaN,ORADA AU Equity,AU,AU0000087744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7908,NaN,NaN,VEADB AU Equity,AU,AU0000172678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7909,NaN,NaN,APR CN Equity,CN,CA0043032022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7910,NaN,NaN,D CN Equity,CN,CA2649072055,NaN,Real Estate,Equity Real Estate Investment Trusts (REITs),Real Estate,Office REITs,NaN,NaN,Canada
7911,NaN,NaN,HOM CN Equity,CN,CA43686P1053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [203]:
universe = DL.loadDB('universe.csv')

12:47:55 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/universe.csv

In [207]:
universe_dup = universe[universe.duplicated(['Ticker'], keep=False)]

In [209]:
universe_dup = universe_dup[['Ticker(old)', 'Ticker']]

In [211]:
ticker_df_valid.head(5)

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,1721,1721.T,1721 JP Equity,JP,JP3305530002,1721.T,Industrials,Construction & Engineering,Capital Goods,Construction & Engineering,NaN,Japan,Japan
1,1878,1878.T,1878 JP Equity,JP,JP3486800000,1878.T,Real Estate,Real Estate Management & Development,Real Estate,Diversified Real Estate Activities,NaN,Japan,Japan
2,1951,1951.T,1951 JP Equity,JP,JP3254200003,1951.T,Industrials,Construction & Engineering,Capital Goods,Construction & Engineering,NaN,Japan,Japan
3,2002,2002.T,2002 JP Equity,JP,JP3676800000,2002.T,Consumer Staples,Food Products,"Food, Beverage & Tobacco",Packaged Foods & Meats,NaN,Japan,Japan
4,2267,2267.T,2267 JP Equity,JP,JP3931600005,2267.T,Consumer Staples,Food Products,"Food, Beverage & Tobacco",Packaged Foods & Meats,NaN,Japan,Japan

In [210]:
universe_dup

     Ticker(old)  Ticker
0         1U1.DE  1U1.DE
1        DRIG.DE  1U1.DE
2            TXG   TXG.O
3          TXG.O   TXG.O
5           ONEM  ONEM.O
...          ...     ...
4383      7453.T  7453.T
4384      8227.T  8227.T
4385      9409.T  9409.T
4386      9602.T  9602.T
4387      9983.T  9983.T

[1716 rows x 2 columns]

In [234]:
ticker_df_valid = pd.concat([ticker_df_valid, universe_dup], axis=0).drop_duplicates(['Ticker(old)', 'Ticker'])

In [235]:
ticker_df_invalid = ticker_df_valid[ticker_df_valid['Ticker(BBG)'].isna()]
ticker_df_valid = ticker_df_valid[~ticker_df_valid['Ticker(BBG)'].isna()]

ticker_df_valid_isin_dict = ticker_df_valid.set_index('Ticker').to_dict()['ISIN']
ticker_df_valid_bbg_dict = ticker_df_valid.set_index('Ticker').to_dict()['Ticker(BBG)']

In [237]:
ticker_df_invalid['Ticker(BBG)'] = ticker_df_invalid['Ticker'].replace(ticker_df_valid_bbg_dict)
ticker_df_invalid['ISIN'] = ticker_df_invalid['Ticker'].replace(ticker_df_valid_isin_dict)

In [232]:
sectors6 = ek.get_data(list(ticker_df_invalid['ISIN']), 
                      ['TR.GICSSector', 'TR.GICSIndustry', 'TR.GICSIndustryGroup', 'TR.GICSSubIndustry',
                      'CF_EXCHANGE', 'TR.ExchangeCountry', 'TR.UltimateParentCountryHQ'])[0]

ticker_df_invalid = pd.concat([ticker_df_invalid, 
                               sectors6[['GICS Sector Name', 'GICS Industry Name', 'GICS Industry Group Name', 'GICS Sub-Industry Name',
                                         'CF_EXCHANGE', 'Country of Exchange', 'Country of Headquarters']]], axis=1)

In [240]:
ticker_df_invalid[['GICS Sector Name', 'GICS Industry Name', 'GICS Industry Group Name', 'GICS Sub-Industry Name',
                                         'CF_EXCHANGE', 'Country of Exchange', 'Country of Headquarters']] = 
sectors6[['GICS Sector Name', 'GICS Industry Name', 'GICS Industry Group Name', 'GICS Sub-Industry Name',
                                         'CF_EXCHANGE', 'Country of Exchange', 'Country of Headquarters']]

In [243]:
ticker_df_valid = pd.concat([ticker_df_valid, ticker_df_invalid[ticker_df_valid.columns]], axis=0)
ticker_df_valid

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,1721,1721.T,1721 JP Equity,JP,JP3305530002,1721.T,Industrials,Construction & Engineering,Capital Goods,Construction & Engineering,<NA>,Japan,Japan
1,1878,1878.T,1878 JP Equity,JP,JP3486800000,1878.T,Real Estate,Real Estate Management & Development,Real Estate,Diversified Real Estate Activities,<NA>,Japan,Japan
2,1951,1951.T,1951 JP Equity,JP,JP3254200003,1951.T,Industrials,Construction & Engineering,Capital Goods,Construction & Engineering,<NA>,Japan,Japan
3,2002,2002.T,2002 JP Equity,JP,JP3676800000,2002.T,Consumer Staples,Food Products,"Food, Beverage & Tobacco",Packaged Foods & Meats,<NA>,Japan,Japan
4,2267,2267.T,2267 JP Equity,JP,JP3931600005,2267.T,Consumer Staples,Food Products,"Food, Beverage & Tobacco",Packaged Foods & Meats,<NA>,Japan,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383,7453.T,7453.T,7453 JP Equity,NaN,JP3976300008,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN
4384,8227.T,8227.T,8227 JP Equity,NaN,JP3358200008,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN
4385,9409.T,9409.T,9409 JP Equity,NaN,JP3429000007,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN
4386,9602.T,9602.T,9602 JP Equity,NaN,JP3598600009,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN
4387,9983.T,9983.T,9983 JP Equity,NaN,JP3802300008,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN

In [244]:
DL.toDB(ticker_df_valid, 'ticker_df_valid2.csv')

In [245]:
price_df = DL.loadDB('price_df.csv')

16:54:03 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/price_df.csv

In [246]:
ticker_df_valid_bbg_dict = ticker_df_valid.set_index('Ticker(old)').to_dict()['Ticker(BBG)']
price_df['Ticker(BBG)'] = price_df['Ticker'].replace(ticker_df_valid_bbg_dict)
price_df['Ticker(BBG)']

0         WEX US Equity
1         FLT US Equity
2        ALLY US Equity
3        TMUS US Equity
4         CNR CN Equity
              ...
60352     EXX SJ Equity
60353     SBK SJ Equity
60354     NED SJ Equity
60355     VOD SJ Equity
60356     BVT SJ Equity
Name: Ticker(BBG), Length: 60357, dtype: object

In [247]:
DL.toDB(price_df, 'price_df(BBG).csv')

In [248]:
Eikon_update_price(['JP3486800000'])

New ticker: JP3486800000, downloading from Eikon

2022-04-28 18:01:21,833 P[17360] [MainThread 27976] Error with JP3486800000: Invalid RIC
2022-04-28 18:01:21,834 P[17360] [MainThread 27976] JP3486800000: Invalid RIC |

18:01:21 Position: [<FrameSummary file C:\Users\JayYang\AppData\Local\Temp/ipykernel_17360/1566893619.py, line 47 in Eikon_update_price>, <FrameSummary file C:\Users\JayYang\Anaconda3\lib\site-packages\eikon\time_series.py, line 203 in get_timeseries>] | Error type: <class 'eikon.eikonError.EikonError'> | Error: Error code -1 | JP3486800000: Invalid RIC |
18:01:21 JP3486800000
18:01:21 C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/Log/20220427/Anomalies_MC_152757.csv created.