In [1]:
import threading
import os
import pandas as pd
import numpy as np
import eikon as ek

ek.set_app_key('cec2abe836754fe692a01de15032769539511a71')
import time
from datetime import datetime

from uti import Logger, DataLoader
from Broker import get_tr, get_atr
from Path import DATABASE_PATH

DL = DataLoader()
logger = Logger()
lock = threading.RLock()

NOW_STR = logger.NOW_STR
testing = False

C:\Users\JayYang\Platform\Citi\Path\settings.py C:\Users\JayYang\Platform\Citi\Path\settings.py
Base path C:/Users/JayYang
Platform path C:/Users/JayYang/Platform
Onedrive directory: C:/Users/JayYang/OneDrive - Alpha Sherpa Capital
Daily path C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Daily
Database path C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Database/Citi

In [2]:
from Eikon import Eikon_update_price

In [4]:
ticker_df = DL.loadDB('ticker_to_ISIN_20220525.csv')
ticker_df.head()

17:55:03 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Database/Citi\ticker_to_ISIN_20220525.csv

       Ticker(BBG)          ISIN
0  ALSEN FP Equity  FR0012596468
1    DTG SW Equity  DE000DTR0CK8
2    EKI FP Equity  FR0011466069
3    GSK LN Equity  GB0009252882
4    IVA FP Equity  FR0013233012

In [5]:
ticker_df

         Ticker(BBG)          ISIN
0    ALSEN FP Equity  FR0012596468
1      DTG SW Equity  DE000DTR0CK8
2      EKI FP Equity  FR0011466069
3      GSK LN Equity  GB0009252882
4      IVA FP Equity  FR0013233012
..               ...           ...
201   AVTR US Equity  US05352A1007
202   LULU US Equity  US5500211090
203   IIVI US Equity  US9021041085
204   TSLA US Equity  US88160R1014
205    AMD US Equity  US0079031078

[206 rows x 2 columns]

In [6]:
ek.get_data([ticker_df['Ticker'][0]], 'TR.ISIN')[0]['ISIN'][0]

  Instrument          ISIN
0     2432.T  JP3548610009

In [10]:
result = ek.get_data(['testing'], 'TR.ISIN')[0]['ISIN'][0]
result

In [9]:
ticker_df_valid

         Ticker(BBG)          ISIN       RIC
0    ALSEN FP Equity  FR0012596468  ALSEN.PA
1      DTG SW Equity  DE000DTR0CK8  DTGGe.DE
2      EKI FP Equity  FR0011466069    EKI.PA
3      GSK LN Equity  GB0009252882     GSK.L
4      IVA FP Equity  FR0013233012   IVAA.PA
..               ...           ...       ...
201   AVTR US Equity  US05352A1007    AVTR.N
202   LULU US Equity  US5500211090   LULU.OQ
203   IIVI US Equity  US9021041085   IIVI.OQ
204   TSLA US Equity  US88160R1014   TSLA.OQ
205    AMD US Equity  US0079031078    AMD.OQ

[206 rows x 3 columns]

In [ ]:
'''for i, row in ticker_df.iloc[:10].iterrows():
    ticker = row['Ticker']
    isin_code = ek.get_data([ticker], 'TR.ISIN')[0]['ISIN'][0]
    if not pd.isna(isin_code):
        ticker_df.loc[i, 'ISIN'] = isin_code'''

In [6]:
ticker_df_valid = ticker_df

In [7]:
RIC = ek.get_data(list(ticker_df_valid['ISIN']), 'TR.RIC')[0]

In [8]:
ticker_df_valid['RIC'] = RIC['RIC']

In [11]:
ticker_df_valid['ticker'] = ticker_df_valid['RIC']

In [12]:
sectors = ek.get_data(list(ticker_df_valid['ISIN']), 
                      ['TR.GICSSector', 'TR.GICSIndustry', 'TR.GICSIndustryGroup', 'TR.GICSSubIndustry',
                      'CF_EXCHANGE', 'TR.ExchangeCountry', 'TR.UltimateParentCountryHQ'])[0]

In [13]:
ticker_df_valid = pd.concat([ticker_df_valid, 
                               sectors[['GICS Sector Name', 'GICS Industry Name', 'GICS Industry Group Name', 'GICS Sub-Industry Name',
                                        'CF_EXCHANGE', 'Country of Exchange', 'Country of Headquarters']]], axis=1)

In [14]:
ticker_df_valid

,Ticker(BBG),ISIN,RIC,ticker,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,ALSEN FP Equity,FR0012596468,ALSEN.PA,ALSEN.PA,Health Care,Biotechnology,"Pharmaceuticals, Biotechnology & Life Sciences",Biotechnology,<NA>,France,France
1,DTG SW Equity,DE000DTR0CK8,DTGGe.DE,DTGGe.DE,Industrials,Machinery,Capital Goods,Construction Machinery & Heavy Trucks,<NA>,Germany,Germany
2,EKI FP Equity,FR0011466069,EKI.PA,EKI.PA,Information Technology,Communications Equipment,Technology Hardware & Equipment,Communications Equipment,<NA>,France,France
3,GSK LN Equity,GB0009252882,GSK.L,GSK.L,Health Care,Pharmaceuticals,"Pharmaceuticals, Biotechnology & Life Sciences",Pharmaceuticals,<NA>,United Kingdom,United Kingdom
4,IVA FP Equity,FR0013233012,IVAA.PA,IVAA.PA,Health Care,Biotechnology,"Pharmaceuticals, Biotechnology & Life Sciences",Biotechnology,<NA>,France,France
...,...,...,...,...,...,...,...,...,...,...,...
201,AVTR US Equity,US05352A1007,AVTR.N,AVTR.N,Health Care,Life Sciences Tools & Services,"Pharmaceuticals, Biotechnology & Life Sciences",Life Sciences Tools & Services,<NA>,United States of America,United States
202,LULU US Equity,US5500211090,LULU.OQ,LULU.OQ,Consumer Discretionary,"Textiles, Apparel & Luxury Goods",Consumer Durables & Apparel,"Apparel, Accessories & Luxury Goods",<NA>,United States of America,Canada
203,IIVI US Equity,US9021041085,IIVI.OQ,IIVI.OQ,Information Technology,"Electronic Equipment, Instruments & Components",Technology Hardware & Equipment,Electronic Components,<NA>,United States of America,United States
204,TSLA US Equity,US88160R1014,TSLA.OQ,TSLA.OQ,Consumer Discretionary,Automobiles,Automobiles & Components,Automobile Manufacturers,<NA>,United States of America,United States
205,AMD US Equity,US0079031078,AMD.OQ,AMD.OQ,Information Technology,Semiconductors & Semiconductor Equipment,Semiconductors & Semiconductor Equipment,Semiconductors,<NA>,United States of America,United States

In [15]:
ticker = DL.loadTickers()

In [25]:
ticker_df_valid.columns

Index(['Ticker(BBG)', 'ISIN', 'Ticker(old)', 'ticker', 'Sector', 'Industry',
       'GICS Industry Group Name', 'GICS Sub-Industry Name', 'CF_EXCHANGE',
       'Country of Exchange', 'Country of Headquarters', 'Delisted',
       'ticker_nbc', 'Region'],
      dtype='object')

In [26]:
ticker.columns

Index(['Ticker(old)', 'ticker', 'Ticker(BBG)', 'Region', 'ISIN', 'RIC',
       'Sector', 'Industry', 'GICS Industry Group Name',
       'GICS Sub-Industry Name', 'CF_EXCHANGE', 'Country of Exchange',
       'Country of Headquarters', 'Delisted', 'ticker_nbc'],
      dtype='object')

In [27]:
ticker_df_valid['Delisted'] = ''
ticker_df_valid['ticker_nbc'] = ticker_df_valid['Ticker(BBG)'].apply(lambda x: ' '.join(x.split(' ')[:2]))
# ticker_df_valid['Ticker(old)'] = ticker_df_valid['RIC']
ticker_df_valid['RIC'] = ticker_df_valid['ticker']
ticker_df_valid['Region'] = ticker_df_valid['Ticker(BBG)'].apply(lambda x: x.split(' ')[1])
# ticker_df_valid.rename(columns={'RIC': 'Ticker(old)', 'GICS Sector Name': 'Sector', 'GICS Industry Name': 'Industry'}, inplace=True)
ticker_df_valid[ticker.columns]

,Ticker(old),ticker,Ticker(BBG),Region,ISIN,RIC,Sector,Industry,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters,Delisted,ticker_nbc
0,ALSEN.PA,ALSEN.PA,ALSEN FP Equity,FP,FR0012596468,ALSEN.PA,Health Care,Biotechnology,"Pharmaceuticals, Biotechnology & Life Sciences",Biotechnology,<NA>,France,France,,ALSEN FP
1,DTGGe.DE,DTGGe.DE,DTG SW Equity,SW,DE000DTR0CK8,DTGGe.DE,Industrials,Machinery,Capital Goods,Construction Machinery & Heavy Trucks,<NA>,Germany,Germany,,DTG SW
2,EKI.PA,EKI.PA,EKI FP Equity,FP,FR0011466069,EKI.PA,Information Technology,Communications Equipment,Technology Hardware & Equipment,Communications Equipment,<NA>,France,France,,EKI FP
3,GSK.L,GSK.L,GSK LN Equity,LN,GB0009252882,GSK.L,Health Care,Pharmaceuticals,"Pharmaceuticals, Biotechnology & Life Sciences",Pharmaceuticals,<NA>,United Kingdom,United Kingdom,,GSK LN
4,IVAA.PA,IVAA.PA,IVA FP Equity,FP,FR0013233012,IVAA.PA,Health Care,Biotechnology,"Pharmaceuticals, Biotechnology & Life Sciences",Biotechnology,<NA>,France,France,,IVA FP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,AVTR.N,AVTR.N,AVTR US Equity,US,US05352A1007,AVTR.N,Health Care,Life Sciences Tools & Services,"Pharmaceuticals, Biotechnology & Life Sciences",Life Sciences Tools & Services,<NA>,United States of America,United States,,AVTR US
202,LULU.OQ,LULU.OQ,LULU US Equity,US,US5500211090,LULU.OQ,Consumer Discretionary,"Textiles, Apparel & Luxury Goods",Consumer Durables & Apparel,"Apparel, Accessories & Luxury Goods",<NA>,United States of America,Canada,,LULU US
203,IIVI.OQ,IIVI.OQ,IIVI US Equity,US,US9021041085,IIVI.OQ,Information Technology,"Electronic Equipment, Instruments & Components",Technology Hardware & Equipment,Electronic Components,<NA>,United States of America,United States,,IIVI US
204,TSLA.OQ,TSLA.OQ,TSLA US Equity,US,US88160R1014,TSLA.OQ,Consumer Discretionary,Automobiles,Automobiles & Components,Automobile Manufacturers,<NA>,United States of America,United States,,TSLA US
205,AMD.OQ,AMD.OQ,AMD US Equity,US,US0079031078,AMD.OQ,Information Technology,Semiconductors & Semiconductor Equipment,Semiconductors & Semiconductor Equipment,Semiconductors,<NA>,United States of America,United States,,AMD US

In [28]:
ticker = pd.concat([ticker, ticker_df_valid[ticker.columns]], axis=0)

In [30]:
DL.toDB(ticker, 'ticker universe to check.csv')

In [61]:
DL.toDB(ticker_df_valid, 'ticker_df_valid.csv')
DL.toDB(ticker_df_invalid, 'ticker_df_invalid.csv')

In [66]:
ticker_from_sunny = DL.loadDB('Datasets/ticker_unique.csv')

19:31:38 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/Datasets/ticker_unique.csv

In [70]:
ticker_from_sunny=ticker_from_sunny.drop_duplicates(['1'])

In [71]:
DL.toDB(ticker_from_sunny, 'ticker_unique.csv')

In [72]:
ticker_from_sunny = DL.loadDB('ticker_to_ISIN_1.csv')

00:41:04 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/ticker_to_ISIN_1.csv

In [73]:
ticker_from_sunny = ticker_from_sunny[~ticker_from_sunny['ISIN'].isna()]

In [77]:
ticker_from_sunny_dict = ticker_from_sunny.set_index('ISIN').to_dict()['ID']

In [81]:
ticker_df_valid.loc[ticker_df_valid['ISIN'].isin(ticker_from_sunny['ISIN']), 'Ticker(BBG)'] = ticker_df_valid[ticker_df_valid['ISIN'].isin(ticker_from_sunny['ISIN'])]['ISIN'].replace(ticker_from_sunny_dict)

In [82]:
ticker_df_valid.loc[ticker_df_valid['ISIN'].isin(ticker_from_sunny['ISIN']), 'Ticker(BBG)']

1       2433 JP Equity
2       2670 JP Equity
6       3402 JP Equity
8       4004 JP Equity
9       4005 JP Equity
             ...
5461    4516 JP Equity
5462    4021 JP Equity
5465    4716 JP Equity
5469    4565 JP Equity
5484    4478 JP Equity
Name: Ticker(BBG), Length: 2995, dtype: object

In [83]:
ticker_df_valid

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,2432,2432.T,2432 JP,JP,JP3548610009,2432.T,Communication Services,Entertainment,Media & Entertainment,Interactive Home Entertainment,<NA>,Japan,Japan
1,2433,2433.T,2433 JP Equity,JP,JP3766550002,2433.T,Communication Services,Media,Media & Entertainment,Advertising,<NA>,Japan,Japan
2,2670,2670.T,2670 JP Equity,JP,JP3152740001,2670.T,Consumer Discretionary,Specialty Retail,Retailing,Apparel Retail,<NA>,Japan,Japan
3,2768,2768.T,2768 JP,JP,JP3663900003,2768.T,Industrials,Trading Companies & Distributors,Capital Goods,Trading Companies & Distributors,<NA>,Japan,Japan
4,3279,3279.T,3279 JP,JP,JP3047490002,3279.T,Real Estate,Equity Real Estate Investment Trusts (REITs),Real Estate,Diversified REITs,<NA>,Japan,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5480,2267,2267.T,2267 JP,JP,JP3931600005,2267.T,Consumer Staples,Food Products,"Food, Beverage & Tobacco",Packaged Foods & Meats,<NA>,Japan,Japan
5481,6841,6841.T,6841 JP,JP,JP3955000009,6841.T,Information Technology,"Electronic Equipment, Instruments & Components",Technology Hardware & Equipment,Electronic Equipment & Instruments,<NA>,Japan,Japan
5482,5101,5101.T,5101 JP,JP,JP3955800002,5101.T,Consumer Discretionary,Auto Components,Automobiles & Components,Tires & Rubber,<NA>,Japan,Japan
5483,9474,9474.T,9474 JP,JP,JP3430400006,9474.T,Communication Services,Media,Media & Entertainment,Publishing,<NA>,Japan,Japan
5484,4478,4478.T,4478 JP Equity,JP,JP3826520003,4478.T,Information Technology,Software,Software & Services,Application Software,<NA>,Japan,Japan

In [84]:
ticker_from_sunny_tbu = ticker_from_sunny[~ticker_from_sunny['ISIN'].isin(ticker_df_valid['ISIN'])]

In [89]:
ticker_from_sunny_tbu = ticker_from_sunny_tbu.drop(['Partial Errors'], axis=1)
ticker_from_sunny_tbu = ticker_from_sunny_tbu.rename(columns={'ID': 'Ticker(BBG)'})

           Ticker(BBG)          ISIN
0       2020 NO Equity  BMG9156K1018
2       ACAD SS Equity  SE0007897079
3      ACAST SS Equity  SE0015960935
4     ACROUD SS Equity  SE0001863291
5      ANODB SS Equity  SE0000472268
...                ...           ...
5178     AND CN Equity  CA0342231077
5179     AKU CN Equity  CA01021F1099
5180    AD-U CN Equity  CAC010971017
5181   ACO/X CN Equity  CA0467894006
5182    ABCT CN Equity  CA00076T1057

[2213 rows x 2 columns]

In [90]:
ticker_from_sunny_tbu = ticker_from_sunny_tbu.reset_index(drop=True)

In [91]:
sectors2 = ek.get_data(list(ticker_from_sunny_tbu['ISIN']), 
                      ['TR.GICSSector', 'TR.GICSIndustry', 'TR.GICSIndustryGroup', 'TR.GICSSubIndustry',
                      'CF_EXCHANGE', 'TR.ExchangeCountry', 'TR.UltimateParentCountryHQ'])[0]

In [92]:
ticker_from_sunny_tbu = pd.concat([ticker_from_sunny_tbu, 
                                   sectors2[['GICS Sector Name', 'GICS Industry Name', 'GICS Industry Group Name', 'GICS Sub-Industry Name',
                                            'CF_EXCHANGE', 'Country of Exchange', 'Country of Headquarters']]], axis=1)

In [93]:
ticker_from_sunny_tbu

,Ticker(BBG),ISIN,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,2020 NO Equity,BMG9156K1018,Industrials,Marine,Transportation,Marine,<NA>,Norway,Bermuda
1,ACAD SS Equity,SE0007897079,Consumer Discretionary,Diversified Consumer Services,Consumer Services,Education Services,<NA>,Sweden,Sweden
2,ACAST SS Equity,SE0015960935,Communication Services,Interactive Media & Services,Media & Entertainment,Interactive Media & Services,<NA>,Sweden,Sweden
3,ACROUD SS Equity,SE0001863291,Consumer Discretionary,"Hotels, Restaurants & Leisure",Consumer Services,Casinos & Gaming,<NA>,Sweden,Sweden
4,ANODB SS Equity,SE0000472268,Information Technology,IT Services,Software & Services,IT Consulting & Other Services,<NA>,Sweden,Sweden
...,...,...,...,...,...,...,...,...,...
2208,AND CN Equity,CA0342231077,Health Care,Health Care Providers & Services,Health Care Equipment & Services,Health Care Services,<NA>,Canada,Canada
2209,AKU CN Equity,CA01021F1099,Health Care,Health Care Providers & Services,Health Care Equipment & Services,Health Care Services,<NA>,United States of America,United States
2210,AD-U CN Equity,CAC010971017,Financials,Capital Markets,Diversified Financials,Asset Management & Custody Banks,<NA>,Canada,Canada
2211,ACO/X CN Equity,CA0467894006,Utilities,Multi-Utilities,Utilities,Multi-Utilities,<NA>,Canada,Canada
2212,ABCT CN Equity,CA00076T1057,Consumer Discretionary,Auto Components,Automobiles & Components,Auto Parts & Equipment,<NA>,Canada,Canada

In [94]:
RIC = ek.get_data(list(ticker_from_sunny_tbu['ISIN']), 'TR.RIC')[0]
ticker_from_sunny_tbu['RIC'] = RIC['RIC']

In [100]:
ticker_from_sunny_tbu['Ticker(old)'] = ticker_from_sunny_tbu['RIC']
ticker_from_sunny_tbu['Ticker'] = ticker_from_sunny_tbu['RIC']
ticker_from_sunny_tbu['Region'] = ''
ticker_from_sunny_dict = ticker_from_sunny.set_index('ISIN').to_dict()['ID']
ticker_from_sunny_tbu['Ticker(BBG)'] = ticker_from_sunny_tbu['ISIN'].replace(ticker_from_sunny_dict)

In [101]:
ticker_from_sunny_tbu['Region'] = ticker_from_sunny_tbu['Ticker(BBG)'].str.split(' ', 1)

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,20202.OL,20202.OL,20202.OL,,BMG9156K1018,20202.OL,Industrials,Marine,Transportation,Marine,<NA>,Norway,Bermuda
1,ACADE.ST,ACADE.ST,ACADE.ST,,SE0007897079,ACADE.ST,Consumer Discretionary,Diversified Consumer Services,Consumer Services,Education Services,<NA>,Sweden,Sweden
2,ACAST.ST,ACAST.ST,ACAST.ST,,SE0015960935,ACAST.ST,Communication Services,Interactive Media & Services,Media & Entertainment,Interactive Media & Services,<NA>,Sweden,Sweden
3,ACROUD.ST,ACROUD.ST,ACROUD.ST,,SE0001863291,ACROUD.ST,Consumer Discretionary,"Hotels, Restaurants & Leisure",Consumer Services,Casinos & Gaming,<NA>,Sweden,Sweden
4,ANODb.ST,ANODb.ST,ANODb.ST,,SE0000472268,ANODb.ST,Information Technology,IT Services,Software & Services,IT Consulting & Other Services,<NA>,Sweden,Sweden
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2208,AND.TO,AND.TO,AND.TO,,CA0342231077,AND.TO,Health Care,Health Care Providers & Services,Health Care Equipment & Services,Health Care Services,<NA>,Canada,Canada
2209,AKU.OQ,AKU.OQ,AKU.OQ,,CA01021F1099,AKU.OQ,Health Care,Health Care Providers & Services,Health Care Equipment & Services,Health Care Services,<NA>,United States of America,United States
2210,AD_u.TO,AD_u.TO,AD_u.TO,,CAC010971017,AD_u.TO,Financials,Capital Markets,Diversified Financials,Asset Management & Custody Banks,<NA>,Canada,Canada
2211,ACOx.TO,ACOx.TO,ACOx.TO,,CA0467894006,ACOx.TO,Utilities,Multi-Utilities,Utilities,Multi-Utilities,<NA>,Canada,Canada
2212,ABCT.TO,ABCT.TO,ABCT.TO,,CA00076T1057,ABCT.TO,Consumer Discretionary,Auto Components,Automobiles & Components,Auto Parts & Equipment,<NA>,Canada,Canada

In [116]:
ticker_from_sunny_tbu['Region'] = ticker_from_sunny_tbu['Ticker(BBG)'].str.split(' ', 0).apply(lambda x: x[1])

In [117]:
ticker_from_sunny_tbu[ticker_df_valid.columns]

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,20202.OL,20202.OL,2020 NO Equity,NO,BMG9156K1018,20202.OL,Industrials,Marine,Transportation,Marine,<NA>,Norway,Bermuda
1,ACADE.ST,ACADE.ST,ACAD SS Equity,SS,SE0007897079,ACADE.ST,Consumer Discretionary,Diversified Consumer Services,Consumer Services,Education Services,<NA>,Sweden,Sweden
2,ACAST.ST,ACAST.ST,ACAST SS Equity,SS,SE0015960935,ACAST.ST,Communication Services,Interactive Media & Services,Media & Entertainment,Interactive Media & Services,<NA>,Sweden,Sweden
3,ACROUD.ST,ACROUD.ST,ACROUD SS Equity,SS,SE0001863291,ACROUD.ST,Consumer Discretionary,"Hotels, Restaurants & Leisure",Consumer Services,Casinos & Gaming,<NA>,Sweden,Sweden
4,ANODb.ST,ANODb.ST,ANODB SS Equity,SS,SE0000472268,ANODb.ST,Information Technology,IT Services,Software & Services,IT Consulting & Other Services,<NA>,Sweden,Sweden
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2208,AND.TO,AND.TO,AND CN Equity,CN,CA0342231077,AND.TO,Health Care,Health Care Providers & Services,Health Care Equipment & Services,Health Care Services,<NA>,Canada,Canada
2209,AKU.OQ,AKU.OQ,AKU CN Equity,CN,CA01021F1099,AKU.OQ,Health Care,Health Care Providers & Services,Health Care Equipment & Services,Health Care Services,<NA>,United States of America,United States
2210,AD_u.TO,AD_u.TO,AD-U CN Equity,CN,CAC010971017,AD_u.TO,Financials,Capital Markets,Diversified Financials,Asset Management & Custody Banks,<NA>,Canada,Canada
2211,ACOx.TO,ACOx.TO,ACO/X CN Equity,CN,CA0467894006,ACOx.TO,Utilities,Multi-Utilities,Utilities,Multi-Utilities,<NA>,Canada,Canada
2212,ABCT.TO,ABCT.TO,ABCT CN Equity,CN,CA00076T1057,ABCT.TO,Consumer Discretionary,Auto Components,Automobiles & Components,Auto Parts & Equipment,<NA>,Canada,Canada

In [118]:
ticker_df_valid = pd.concat([ticker_df_valid, ticker_from_sunny_tbu[ticker_df_valid.columns]], axis=0)

In [120]:
DL.toDB(ticker_df_valid, 'ticker_df_final.csv')

In [121]:
mizuho_tickers = DL.loadDB('Datasets/Mizuho tickers.csv')

10:56:35 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/Datasets/Mizuho tickers.csv

In [171]:
mizuho_tickers_df = mizuho_tickers.drop_duplicates(['Ticker(BBG)'])
mizuho_tickers_df = mizuho_tickers_df.drop(['0'], axis=1)

In [172]:
mizuho_tickers_df = mizuho_tickers_df.reset_index(drop=True)

In [175]:
mizuho_tickers_dict = sectors3.set_index('Instrument').to_dict()['ISIN']
mizuho_tickers_df['ISIN'] = ''
mizuho_tickers_df['ISIN'] = mizuho_tickers_df['Ticker'].replace(mizuho_tickers_dict)
mizuho_tickers_df = mizuho_tickers_df[~mizuho_tickers_df['ISIN'].isin(ticker_df_valid['ISIN'])].reset_index(drop=True)
mizuho_tickers_df = mizuho_tickers_df[mizuho_tickers_df['ISIN']!= ''].reset_index(drop=True)
mizuho_tickers_df

        Ticker(BBG)  Ticker Ticker(old)          ISIN
0    8977 JP Equity  8977.T      8977.T  JP3046320002
1    3397 JP Equity  3397.T      3397.T  JP3636650008
2    7718 JP Equity  7718.T      7718.T  JP3399000003
3    5463 JP Equity  5463.T      5463.T  JP3871200006
4    6622 JP Equity  6622.T      6622.T  JP3497800007
..              ...     ...         ...           ...
209  3227 JP Equity  3227.T      3227.T  JP3046450007
210  6866 JP Equity  6866.T      6866.T  JP3783200003
211  9793 JP Equity  9793.T      9793.T  JP3485600005
212  6804 JP Equity  6804.T      6804.T  JP3845800006
213  3487 JP Equity  3487.T      3487.T  JP3048680007

[214 rows x 4 columns]

In [174]:
sectors3 = ek.get_data(list(mizuho_tickers_df['Ticker']), ['TR.ISIN'])[0]
sectors3 = sectors3[~sectors3.isna()]
sectors3[~sectors3['ISIN'].isin(ticker_df_valid['ISIN'])]

    Instrument          ISIN
0       8977.T  JP3046320002
1       3397.T  JP3636650008
2       7718.T  JP3399000003
3       5463.T  JP3871200006
4       6622.T  JP3497800007
..         ...           ...
209     3227.T  JP3046450007
210     6866.T  JP3783200003
211     9793.T  JP3485600005
212     6804.T  JP3845800006
213     3487.T  JP3048680007

[214 rows x 2 columns]

In [178]:
sectors4 = ek.get_data(list(mizuho_tickers_df['ISIN']), 
                      ['TR.GICSSector', 'TR.GICSIndustry', 'TR.GICSIndustryGroup', 'TR.GICSSubIndustry',
                      'CF_EXCHANGE', 'TR.ExchangeCountry', 'TR.UltimateParentCountryHQ'])[0]

mizuho_tickers_df = pd.concat([mizuho_tickers_df, 
                               sectors4[['GICS Sector Name', 'GICS Industry Name', 'GICS Industry Group Name', 'GICS Sub-Industry Name',
                                         'CF_EXCHANGE', 'Country of Exchange', 'Country of Headquarters']]], axis=1)

In [189]:
mizuho_tickers_df['RIC'] = ''
mizuho_tickers_df['Region'] = ''
mizuho_tickers_df['Region'] = mizuho_tickers_df['Ticker(BBG)'].str.split(' ', 0).apply(lambda x: x[1])

RIC = ek.get_data(list(mizuho_tickers_df['ISIN']), 'TR.RIC')[0]
mizuho_tickers_df['RIC'] = RIC['RIC']

In [185]:
DL.toDB(mizuho_tickers_df, 'Datasets/Mizuho_tickers_df.csv')

In [193]:
ticker_df_valid = pd.concat([ticker_df_valid, mizuho_tickers_df[ticker_df_valid.columns]], axis=0)

In [194]:
DL.toDB(ticker_df_valid, 'Datasets/ticker_df_valid.csv')

In [200]:
ticker_df_valid = DL.loadDB('ticker_df_valid.csv')

12:09:58 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/ticker_df_valid.csv

In [197]:
ticker_df_invalid = ticker_df_valid[ticker_df_valid['Ticker'].isna()]
ticker_df_invalid

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
7872,NaN,NaN,CORE SS Equity,SS,SE0002257402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7873,NaN,NaN,GWI1 GY Equity,GY,DE0003304101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7874,NaN,NaN,VET SW Equity,SW,CH0006227612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7875,NaN,NaN,NOFI NO Equity,NO,NO0010387004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7876,NaN,NaN,FCAU US Equity,US,NL0010877643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7877,NaN,NaN,METSO FH Equity,FH,FI0009007835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7878,NaN,NaN,APY US Equity,US,US03755L1044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7879,NaN,NaN,DISCA US Equity,US,US25470F1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7880,NaN,NaN,SNH US Equity,US,US81721M1099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7881,NaN,NaN,MYL US Equity,US,NL0011031208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7882,NaN,NaN,HFC US Equity,US,US4361061082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7883,NaN,NaN,RXN US Equity,US,US76169B1026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7884,NaN,NaN,UTX US Equity,US,US9130171096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7885,NaN,NaN,SERV US Equity,US,US81761R1095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7886,NaN,NaN,LB US Equity,US,US5017971046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7887,NaN,NaN,FCAU US Equity,US,NL0010877643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7888,NaN,NaN,2448 TT Equity,TT,TW0002448008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7889,NaN,NaN,SVMK US Equity,US,US78489X1037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7890,NaN,NaN,ORE AU Equity,AU,AU000000ORE0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7891,NaN,NaN,MNLO US Equity,US,US5868581027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7892,NaN,NaN,ERI US Equity,US,US28470R1023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7893,NaN,NaN,WTR US Equity,US,US03836W1036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7894,NaN,NaN,CTX AU Equity,AU,AU000000CTX1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7895,NaN,NaN,SSW US Equity,US,MHY756381098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7896,NaN,NaN,TORC US Equity,US,US76133L1035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7897,NaN,NaN,CREE US Equity,US,US2254471012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7898,NaN,NaN,FEYE US Equity,US,US31816Q1013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7899,NaN,NaN,XON US Equity,US,US46122T1025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7900,NaN,NaN,NHM SJ Equity,SJ,ZAE000030912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7901,NaN,NaN,CBS US Equity,US,US1248572026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7902,NaN,NaN,4555 JP Equity,JP,JP3323050009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7903,NaN,NaN,VEADA AU Equity,AU,AU0000100729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7904,NaN,NaN,CTRP US Equity,US,US22943F1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7905,NaN,NaN,SUNDC AU Equity,AU,AU0000054876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7906,NaN,NaN,Z1P AU Equity,AU,AU000000Z1P6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7907,NaN,NaN,ORADA AU Equity,AU,AU0000087744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7908,NaN,NaN,VEADB AU Equity,AU,AU0000172678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7909,NaN,NaN,APR CN Equity,CN,CA0043032022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7910,NaN,NaN,D CN Equity,CN,CA2649072055,NaN,Real Estate,Equity Real Estate Investment Trusts (REITs),Real Estate,Office REITs,NaN,NaN,Canada
7911,NaN,NaN,HOM CN Equity,CN,CA43686P1053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [203]:
universe = DL.loadDB('universe.csv')

12:47:55 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/universe.csv

In [207]:
universe_dup = universe[universe.duplicated(['Ticker'], keep=False)]

In [209]:
universe_dup = universe_dup[['Ticker(old)', 'Ticker']]

In [211]:
ticker_df_valid.head(5)

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,1721,1721.T,1721 JP Equity,JP,JP3305530002,1721.T,Industrials,Construction & Engineering,Capital Goods,Construction & Engineering,NaN,Japan,Japan
1,1878,1878.T,1878 JP Equity,JP,JP3486800000,1878.T,Real Estate,Real Estate Management & Development,Real Estate,Diversified Real Estate Activities,NaN,Japan,Japan
2,1951,1951.T,1951 JP Equity,JP,JP3254200003,1951.T,Industrials,Construction & Engineering,Capital Goods,Construction & Engineering,NaN,Japan,Japan
3,2002,2002.T,2002 JP Equity,JP,JP3676800000,2002.T,Consumer Staples,Food Products,"Food, Beverage & Tobacco",Packaged Foods & Meats,NaN,Japan,Japan
4,2267,2267.T,2267 JP Equity,JP,JP3931600005,2267.T,Consumer Staples,Food Products,"Food, Beverage & Tobacco",Packaged Foods & Meats,NaN,Japan,Japan

In [210]:
universe_dup

     Ticker(old)  Ticker
0         1U1.DE  1U1.DE
1        DRIG.DE  1U1.DE
2            TXG   TXG.O
3          TXG.O   TXG.O
5           ONEM  ONEM.O
...          ...     ...
4383      7453.T  7453.T
4384      8227.T  8227.T
4385      9409.T  9409.T
4386      9602.T  9602.T
4387      9983.T  9983.T

[1716 rows x 2 columns]

In [234]:
ticker_df_valid = pd.concat([ticker_df_valid, universe_dup], axis=0).drop_duplicates(['Ticker(old)', 'Ticker'])

In [235]:
ticker_df_invalid = ticker_df_valid[ticker_df_valid['Ticker(BBG)'].isna()]
ticker_df_valid = ticker_df_valid[~ticker_df_valid['Ticker(BBG)'].isna()]

ticker_df_valid_isin_dict = ticker_df_valid.set_index('Ticker').to_dict()['ISIN']
ticker_df_valid_bbg_dict = ticker_df_valid.set_index('Ticker').to_dict()['Ticker(BBG)']

In [237]:
ticker_df_invalid['Ticker(BBG)'] = ticker_df_invalid['Ticker'].replace(ticker_df_valid_bbg_dict)
ticker_df_invalid['ISIN'] = ticker_df_invalid['Ticker'].replace(ticker_df_valid_isin_dict)

In [232]:
sectors6 = ek.get_data(list(ticker_df_invalid['ISIN']), 
                      ['TR.GICSSector', 'TR.GICSIndustry', 'TR.GICSIndustryGroup', 'TR.GICSSubIndustry',
                      'CF_EXCHANGE', 'TR.ExchangeCountry', 'TR.UltimateParentCountryHQ'])[0]

ticker_df_invalid = pd.concat([ticker_df_invalid, 
                               sectors6[['GICS Sector Name', 'GICS Industry Name', 'GICS Industry Group Name', 'GICS Sub-Industry Name',
                                         'CF_EXCHANGE', 'Country of Exchange', 'Country of Headquarters']]], axis=1)

In [240]:
ticker_df_invalid[['GICS Sector Name', 'GICS Industry Name', 'GICS Industry Group Name', 'GICS Sub-Industry Name',
                                         'CF_EXCHANGE', 'Country of Exchange', 'Country of Headquarters']] = 
sectors6[['GICS Sector Name', 'GICS Industry Name', 'GICS Industry Group Name', 'GICS Sub-Industry Name',
                                         'CF_EXCHANGE', 'Country of Exchange', 'Country of Headquarters']]

In [243]:
ticker_df_valid = pd.concat([ticker_df_valid, ticker_df_invalid[ticker_df_valid.columns]], axis=0)
ticker_df_valid

,Ticker(old),Ticker,Ticker(BBG),Region,ISIN,RIC,GICS Sector Name,GICS Industry Name,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters
0,1721,1721.T,1721 JP Equity,JP,JP3305530002,1721.T,Industrials,Construction & Engineering,Capital Goods,Construction & Engineering,<NA>,Japan,Japan
1,1878,1878.T,1878 JP Equity,JP,JP3486800000,1878.T,Real Estate,Real Estate Management & Development,Real Estate,Diversified Real Estate Activities,<NA>,Japan,Japan
2,1951,1951.T,1951 JP Equity,JP,JP3254200003,1951.T,Industrials,Construction & Engineering,Capital Goods,Construction & Engineering,<NA>,Japan,Japan
3,2002,2002.T,2002 JP Equity,JP,JP3676800000,2002.T,Consumer Staples,Food Products,"Food, Beverage & Tobacco",Packaged Foods & Meats,<NA>,Japan,Japan
4,2267,2267.T,2267 JP Equity,JP,JP3931600005,2267.T,Consumer Staples,Food Products,"Food, Beverage & Tobacco",Packaged Foods & Meats,<NA>,Japan,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383,7453.T,7453.T,7453 JP Equity,NaN,JP3976300008,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN
4384,8227.T,8227.T,8227 JP Equity,NaN,JP3358200008,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN
4385,9409.T,9409.T,9409 JP Equity,NaN,JP3429000007,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN
4386,9602.T,9602.T,9602 JP Equity,NaN,JP3598600009,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN
4387,9983.T,9983.T,9983 JP Equity,NaN,JP3802300008,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN

In [244]:
DL.toDB(ticker_df_valid, 'ticker_df_valid2.csv')

In [245]:
price_df = DL.loadDB('price_df.csv')

16:54:03 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/price_df.csv

In [246]:
ticker_df_valid_bbg_dict = ticker_df_valid.set_index('Ticker(old)').to_dict()['Ticker(BBG)']
price_df['Ticker(BBG)'] = price_df['Ticker'].replace(ticker_df_valid_bbg_dict)
price_df['Ticker(BBG)']

0         WEX US Equity
1         FLT US Equity
2        ALLY US Equity
3        TMUS US Equity
4         CNR CN Equity
              ...
60352     EXX SJ Equity
60353     SBK SJ Equity
60354     NED SJ Equity
60355     VOD SJ Equity
60356     BVT SJ Equity
Name: Ticker(BBG), Length: 60357, dtype: object

In [247]:
DL.toDB(price_df, 'price_df(BBG).csv')

In [248]:
Eikon_update_price(['JP3486800000'])

New ticker: JP3486800000, downloading from Eikon

2022-04-28 18:01:21,833 P[17360] [MainThread 27976] Error with JP3486800000: Invalid RIC
2022-04-28 18:01:21,834 P[17360] [MainThread 27976] JP3486800000: Invalid RIC |

18:01:21 Position: [<FrameSummary file C:\Users\JayYang\AppData\Local\Temp/ipykernel_17360/1566893619.py, line 47 in Eikon_update_price>, <FrameSummary file C:\Users\JayYang\Anaconda3\lib\site-packages\eikon\time_series.py, line 203 in get_timeseries>] | Error type: <class 'eikon.eikonError.EikonError'> | Error: Error code -1 | JP3486800000: Invalid RIC |
18:01:21 JP3486800000
18:01:21 C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Citi\Database/Log/20220427/Anomalies_MC_152757.csv created.

In [2]:
from Eikon import Eikon_update_price_enhanced

In [3]:
existing = DL.loadExistingTickers()

In [5]:
tickers = DL.loadDB('ticker universe to check.csv')
tickers_old = DL.loadTickers()

18:20:44 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Database/Citi\ticker universe to check.csv

In [8]:
tickers_tbu = pd.concat([tickers, tickers_old], axis=0).drop_duplicates(keep=False)['ticker']

In [9]:
Eikon_update_price_enhanced(tickers_tbu)

24
18:21:26 C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Database/Citi\Log/20220525/20220525182015.txt created.
18:21:26 StartingThread-1 # of tickers: 24
New ticker: ALSEN.PA, downloading from Eikon
18:21:26 StartingThread-2 # of tickers: 24
18:21:26 StartingThread-3 # of tickers: 24
18:21:26 StartingThread-4 # of tickers: 24
18:21:26 StartingThread-5 # of tickers: 24
18:21:26 StartingThread-6 # of tickers: 24
18:21:26 StartingThread-7 # of tickers: 24
18:21:26 StartingThread-8 # of tickers: 24
New ticker: EKI.PA, downloading from Eikon
New ticker: IVAA.PA, downloading from Eikon
New ticker: MEDA.S, downloading from Eikon
New ticker: MTLS.OQ, downloading from Eikon
New ticker: NETS.CO^B18, downloading from Eikon
New ticker: ACRGau.CD, downloading from Eikon
New ticker: BLI.OQ, downloading from Eikon
New ticker: STRO.OQ, downloading from Eikon
New ticker: ASND.OQ, downloading from Eikon
New ticker: PSNL.OQ, downloading from Eikon
New ticker: MRSN.OQ, downloading from Eikon
New ticker: NSTG.OQ, downloading from Eikon
New ticker: RPID.OQ, downloading from Eikon
New ticker: MASS.OQ, downloading from Eikon
New ticker: APLS.OQ, downloading from Eikon
New ticker: BPMC.OQ, downloading from Eikon
New ticker: DXCM.OQ, downloading from Eikon
New ticker: CERS.OQ, downloading from Eikon
New ticker: APEN.OQ, downloading from Eikon
New ticker: PAYX.OQ, downloading from Eikon
Exiting Thread-1
New ticker: BDTX.OQ, downloading from Eikon
New ticker: INFY.N, downloading from Eikon
New ticker: NUVA.OQ, downloading from Eikon
New ticker: NTAP.OQ, downloading from Eikon
New ticker: MNST.OQ, downloading from Eikon
New ticker: CHPT.N, downloading from Eikon
New ticker: PCTY.OQ, downloading from Eikon
New ticker: DRIO.OQ, downloading from Eikon
New ticker: KURA.OQ, downloading from Eikon
New ticker: MGPI.OQ, downloading from Eikon
New ticker: ALNY.OQ, downloading from Eikon
New ticker: BYND.OQ, downloading from Eikon
New ticker: MXCT.OQ, downloading from Eikon
New ticker: GATX.N, downloading from Eikon
New ticker: DSKE.OQ, downloading from Eikon
New ticker: MKSI.OQ, downloading from Eikon
New ticker: ATRA.OQ, downloading from Eikon
New ticker: ACAD.OQ, downloading from Eikon
New ticker: CVLG.OQ, downloading from Eikon
New ticker: PODD.OQ, downloading from Eikon
New ticker: LYFT.OQ, downloading from Eikon
New ticker: AQUA.N, downloading from Eikon
New ticker: LFUS.OQ, downloading from Eikon
New ticker: CLOV.OQ, downloading from Eikon
Exiting Thread-2
New ticker: EA.OQ, downloading from Eikon
New ticker: FORM.OQ, downloading from Eikon
New ticker: SLAB.OQ, downloading from Eikon
New ticker: PLTK.OQ, downloading from Eikon
New ticker: SNDX.OQ, downloading from Eikon
New ticker: POWI.OQ, downloading from Eikon
New ticker: SYNA.OQ, downloading from Eikon
New ticker: PYCR.OQ, downloading from Eikon
New ticker: ATVI.OQ, downloading from Eikon
New ticker: SKX.N, downloading from Eikon
New ticker: DECK.N, downloading from Eikon
New ticker: USAK.OQ, downloading from Eikon
New ticker: PAYC.N, downloading from Eikon
New ticker: ICHR.OQ, downloading from Eikon
New ticker: HUBG.OQ, downloading from Eikon
New ticker: AEIS.OQ, downloading from Eikon
New ticker: AVRO.OQ, downloading from Eikon
New ticker: TUFN.N, downloading from Eikon
New ticker: RARE.OQ, downloading from Eikon
New ticker: COHU.OQ, downloading from Eikon
New ticker: MPWR.OQ, downloading from Eikon
New ticker: AAWW.OQ, downloading from Eikon
New ticker: CSCO.OQ, downloading from Eikon
New ticker: ISEE.OQ, downloading from Eikon
Exiting Thread-3
New ticker: ARVN.OQ, downloading from Eikon
New ticker: MRTX.OQ, downloading from Eikon
New ticker: MRC.N, downloading from Eikon
New ticker: CRSP.OQ, downloading from Eikon
New ticker: INTC.OQ, downloading from Eikon
New ticker: JAZZ.OQ, downloading from Eikon
New ticker: UAL.OQ, downloading from Eikon
New ticker: TNDM.OQ, downloading from Eikon
New ticker: ATSG.OQ, downloading from Eikon
New ticker: TXG.OQ, downloading from Eikon
New ticker: NVDA.OQ, downloading from Eikon
New ticker: ATUS.N, downloading from Eikon
New ticker: DKNG.OQ, downloading from Eikon
New ticker: EPAM.N, downloading from Eikon
New ticker: DNOW.N, downloading from Eikon
New ticker: TRN.N, downloading from Eikon
New ticker: SAGE.OQ, downloading from Eikon
New ticker: YETI.N, downloading from Eikon
New ticker: HZNP.OQ, downloading from Eikon
New ticker: APA.OQ, downloading from Eikon
New ticker: CARR.N, downloading from Eikon
New ticker: FANG.OQ, downloading from Eikon
Exiting Thread-4
New ticker: MTDR.N, downloading from Eikon
New ticker: TDOC.N, downloading from Eikon
New ticker: EXAS.OQ, downloading from Eikon
New ticker: PANW.OQ, downloading from Eikon
New ticker: ANET.N, downloading from Eikon
New ticker: BKNG.OQ, downloading from Eikon
New ticker: FTI.N, downloading from Eikon
New ticker: CDEV.OQ, downloading from Eikon
New ticker: CTRA.N, downloading from Eikon
New ticker: OLED.OQ, downloading from Eikon
New ticker: UCTT.OQ, downloading from Eikon
New ticker: GH.OQ, downloading from Eikon
New ticker: EXLS.OQ, downloading from Eikon
New ticker: GTLS.N, downloading from Eikon
18:29:13 Position: [<FrameSummary file C:\Users\JayYang\Platform\Citi\Eikon\settings.py, line 69 in Eikon_update_price>] | Error type: <class 'AttributeError'> | Error: 'float' object has no attribute 'rstrip'
New ticker: PEAR.OQ, downloading from Eikon
New ticker: MGNX.OQ, downloading from Eikon
New ticker: IONS.OQ, downloading from Eikon
New ticker: KDP.OQ, downloading from Eikon
New ticker: SM.N, downloading from Eikon
New ticker: AERI.OQ, downloading from Eikon
New ticker: ZS.OQ, downloading from Eikon
New ticker: SWCH.N, downloading from Eikon
New ticker: DISH.OQ, downloading from Eikon
18:29:51 C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Database/Citi\Log/20220525/Anomalies_MC_182015.csv created.
Exiting Thread-5
New ticker: CCOI.OQ, downloading from Eikon
New ticker: DELL.N, downloading from Eikon
New ticker: ALEC.OQ, downloading from Eikon
New ticker: ALPN.OQ, downloading from Eikon
New ticker: ANGN.OQ, downloading from Eikon
New ticker: BCEL.OQ, downloading from Eikon
New ticker: FATE.OQ, downloading from Eikon
New ticker: GHRS.OQ, downloading from Eikon
New ticker: HRTX.OQ, downloading from Eikon
New ticker: IMGO.OQ, downloading from Eikon
New ticker: NBIX.OQ, downloading from Eikon
New ticker: NKTX.OQ, downloading from Eikon
New ticker: PHAS.OQ, downloading from Eikon
New ticker: VYGR.OQ, downloading from Eikon
New ticker: XFOR.OQ, downloading from Eikon
New ticker: PBYI.OQ, downloading from Eikon
New ticker: UNIT.OQ, downloading from Eikon
New ticker: SPLK.OQ, downloading from Eikon
New ticker: AMAT.OQ, downloading from Eikon
New ticker: VTRS.OQ, downloading from Eikon
New ticker: SGRY.OQ, downloading from Eikon
New ticker: SUPN.OQ, downloading from Eikon
New ticker: SBAC.OQ, downloading from Eikon
ExitingNew ticker: FRPT.OQ, downloading from Eikon
 Thread-6
New ticker: CDXS.OQ, downloading from Eikon
New ticker: FSLR.OQ, downloading from Eikon
New ticker: INSG.OQ, downloading from Eikon
New ticker: LIN.N, downloading from Eikon
New ticker: WDC.OQ, downloading from Eikon
New ticker: ODFL.OQ, downloading from Eikon
New ticker: SAIA.OQ, downloading from Eikon
New ticker: BFb.N, downloading from Eikon
New ticker: HON.OQ, downloading from Eikon
New ticker: AVGO.OQ, downloading from Eikon
New ticker: MRVL.OQ, downloading from Eikon
New ticker: LBRT.N, downloading from Eikon
New ticker: COST.OQ, downloading from Eikon
New ticker: RPRX.OQ, downloading from Eikon
New ticker: VYNE.OQ, downloading from Eikon
New ticker: CPRI.N, downloading from Eikon
New ticker: OWLT.N, downloading from Eikon
New ticker: CIEN.N, downloading from Eikon
New ticker: FISV.OQ, downloading from Eikon
New ticker: AAPL.OQ, downloading from Eikon
New ticker: ORCL.N, downloading from Eikon
New ticker: AMZN.OQ, downloading from Eikon
Exiting Thread-7
New ticker: UBER.N, downloading from Eikon
New ticker: CHKP.OQ, downloading from Eikon
New ticker: CRWD.OQ, downloading from Eikon
New ticker: BLNK.OQ, downloading from Eikon
New ticker: PTON.OQ, downloading from Eikon
New ticker: HCP.OQ, downloading from Eikon
New ticker: ILMN.OQ, downloading from Eikon

New ticker: ULTA.OQ, downloading from Eikon
New ticker: EVLV.OQ, downloading from Eikon
New ticker: SBUX.OQ, downloading from Eikon
New ticker: SMTC.OQ, downloading from Eikon
New ticker: ADBE.OQ, downloading from Eikon
New ticker: JBHT.OQ, downloading from Eikon
New ticker: GDS.OQ, downloading from Eikon
New ticker: MU.OQ, downloading from Eikon
New ticker: NFLX.OQ, downloading from Eikon
New ticker: FWRG.OQ, downloading from Eikon
New ticker: SEDG.OQ, downloading from Eikon
New ticker: AVTR.N, downloading from Eikon
New ticker: LULU.OQ, downloading from Eikon
New ticker: IIVI.OQ, downloading from Eikon
New ticker: TSLA.OQ, downloading from Eikon
New ticker: AMD.OQ, downloading from Eikon
Exiting Thread-8
Exiting Main Thread
'Eikon_update_price_enhanced'  783335.48 ms

In [6]:
tickers_todownload = DL.loadDB('bg_cm_cw_ticker_list_for_trading_date.csv')

18:57:47 C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Database/Citi\Log/20220525/20220525185730.txt created.
18:57:47 Loading C:/Users/JayYang/OneDrive - Alpha Sherpa Capital/Database/Citi\bg_cm_cw_ticker_list_for_trading_date.csv

In [12]:
tickers_todownload['0']

0        ABI BB Equity
1         AC FP Equity
2         AD NA Equity
3        ADS GY Equity
4      ALFEN NA Equity
            ...
531     IIVI US Equity
532     LVLU US Equity
533     TSLA US Equity
534      AMD US Equity
535     JBLU US Equity
Name: 0, Length: 536, dtype: object

In [11]:
tickers = DL.loadTickers()

In [12]:
tickers_dict = tickers.set_index('Ticker(BBG)')

In [4]:
tickers_dict.loc['PYCR US Equity']

,Ticker(old),ticker,Region,ISIN,RIC,Sector,Industry,GICS Industry Group Name,GICS Sub-Industry Name,CF_EXCHANGE,Country of Exchange,Country of Headquarters,Delisted,ticker_nbc
Ticker(BBG),,,,,,,,,,,,,,
PYCR US Equity,PYCR,PYCR.OQ,US,US70435P1021,PYCR.OQ,Information Technology,Software,Software & Services,Application Software,NaN,United States of America,United States,NaN,PYCR US
PYCR US Equity,PYCR.OQ,PYCR.OQ,US,US70435P1021,PYCR.OQ,Information Technology,Software,Software & Services,Application Software,NaN,United States of America,United States,NaN,PYCR US

In [18]:
json_dict = {}
no_data = []
for tick_bbg, row in tickers_dict.loc[tickers_todownload['0']].iterrows():
    tick = row['ticker']
    if not type(tick) is str:
        continue
#         print(tick)
#         i = input('Please input num')
#         tick = row['ticker'].iloc[i]
    df = DL.loadDaily(tick)
    if len(df) == 0:
        no_data.append(tick_bbg)
        continue
    date_index = list(df.index)
    date_index = [datetime.strftime(x, '%Y-%m-%d') for x in date_index]
    json_dict[tick_bbg] = date_index

13:28:57 FTI.PA unexist in the database. Please check.
13:28:58 DISCA unexist in the database. Please check.
13:29:05 PTON unexist in the database. Please check.

In [16]:
import json

In [19]:
with open(f'{DL.database_path}/json_dict.json', 'w') as w:
    json.dump(json_dict, w)